[2017-01-10 19:43] mikemccracken commented on #550
Hi, first, what cloud type are you using? Is this connecting to a MAAS or using the localhost/lxd cloud type?

Then, for some background - conjure-up uses [juju](https://jujucharms.com/) in the background to provision your cluster and deploy the software you've chosen. Juju needs to bootstrap by bringing up a controller node or instance that will coordinate the other nodes' installation.

What you

[2017-01-10 19:59] coriolnus commented on #550
Hello again,

i'm currently using maas as cloud base and have been able to commission and deploy nodes successfully
juju bootstrap is working fine i have tried to bootstrap on local host and it finished completely, i have discovered the connection error after adding -d for conjure-up, i believe it can not reach the deployed machine through ssh so that it can deploy the required packages, i dont kn

[2017-01-10 20:13] mikemccracken commented on #550
@coriolnus if you can bootstrap a MAAS controller successfully outside of conjure-up, you shouldn't be seeing any bootstrap problems in using conjure-up.

Is it possible that this is just taking a long time? Some juju logging just shows transient errors. I'm not familiar with that part of juju's code, but it may just be trying to connect before the machine is up.

[2017-01-10 20:21] coriolnus commented on #550
@mikemccracken

after the timeout i'm receiving the following error, i wanted to see whats causing the error and opened the debug option, the maas successfully deploys the host and i can see it booted up.

Traceback (most recent call last):
  File "/usr/lib/python3.5/concurrent/futures/_base.py", line 297, in _invoke_callbacks
    callback(self)
  File "/usr/lib/python3/dist-packages/conjureup/con

[2017-01-10 20:28] mikemccracken commented on #550
OK, it looks like the controller was not successfully bootstrapped, and we're not dealing well with showing a good error message in the case where it times out.

It sounds like juju can contact the MAAS server and start a node, but then can't contact the actual controller node.
It's possible that the SSH key that is set up for your user in MAAS is not the same one that juju is trying to use to con

[2017-01-10 20:41] coriolnus commented on #550
Ok, i have only one user on maas and i have created a keypair for this user and imported to the maas account, before the deployment i can ssh to the host but when the deployment finishes i can no longer login to the host and receive the following error, im really confused

ssh: connect to host 172.16.103.12 port 22: Connection refused

The hosts are working on a vm enviroment and i can access to t

[2017-01-10 20:55] mikemccracken commented on #550
Hi, can you share what version of MAAS you're using? I'm told that if it's 2.1.x, you definitely want to upgrade to 2.1.2 or 2.1.3.

To double-check your MAAS setup, are you able to deploy using just MAAS - no juju or conjure-up - an ubuntu system and SSH to it?

[2017-01-11 07:02] coriolnus commented on #550
I'm currently using the below version, and i have tried to deploy a machine using only maas and tried to ssh but it was also unable to connect after deployment,

`maas                                  2.1.2+bzr5555-0ubuntu1~16.04.1`
`conjure-up                         2.1.0-0~201701041302~ubuntu16.04.1`

so it's an issue with the maas, i have checked the ssh configuration again and the ssh key is

[2017-01-11 09:51] #543 closed

[2017-01-11 09:51] #540 closed

[2017-01-11 09:52] battlemidget commented on #550
hmm, yea you may want to head over to askubuntu.com or join #maas on freenode and see if you can get some help there.

[2017-01-11 12:28] canonical-cgregan opened #553 "Conjure-up uses double the deployed hardware when deploying openstack-base and kubernetes-core"
cs:kubernetes-core uses 2 physical machines to deploy the services for kubernetes. Conjure-up bootstraps one node for juju, then 4 more for the services. Not sure why this is the case

[2017-01-11 12:32] canonical-cgregan opened #554 "2.1.0-0~201701041302~ubuntu16.04.1 fails to pull down spells and fails without --notrack"
It seems conjure-up should gracefully ignore the tracking option if the URL is not available behind a firewall without --notrack, but this is not the case. conjure-up openstack with a firewall blocking google analytics URL will cause conjure-up to crash without the --notrack passed at launch

[2017-01-11 12:34] canonical-cgregan opened #555 "[release-process] gate bundles on successful conjure-up deploy"
It seems conjure-up should pin bundles/charms to known working versions and not pull current published as they may be unstable.

[2017-01-11 13:39] battlemidget commented on #555
Not sure I follow? We rely solely on the bundle published to the charm store. And only the 'stable' version is used:

https://github.com/conjure-up/spells/blob/master/kubernetes-core/metadata.yaml#L3

[2017-01-11 13:44] battlemidget commented on #554
Ok, thought we fixed this one ill look into this one

[2017-01-11 13:45] battlemidget commented on #553
Thanks will look into this

[2017-01-11 13:54] canonical-cgregan commented on #555
The current store version does not deploy....atleast on a MAAS deployed
private cloud. May not be a big enough audience to warrant a block for
release, but as it stands the cs kubernetes-core does not deploy from my
point of view.

On Wed, Jan 11, 2017 at 3:39 PM, Adam Stokes <notifications@github.com>
wrote:

--
Chris Gregan
Quality Assurance Manager
Cloud Development and Operations
cgregan@irc.c

[2017-01-11 14:07] battlemidget commented on #555
Ok, I think a good approach to this is possibly query juju after a failure like this occurs and get the charm that is in error state. From there maybe send the user to the charm's bug page to file a bug and exit conjure-up cleanly.

[2017-01-11 14:16] castrojo opened #556 "Add support for channels"
It would be nice if I could do something like `conjure-up canonical-kubernetes --edge` or something so I can test edge versions of bundles.

[2017-01-11 14:32] battlemidget commented on #556
We had talked about this, but for the time being it's best to just:

[code]

Do your spell edits, or copy a bundle.yaml into that directory. Then

[code]

[2017-01-11 14:45] battlemidget commented on #556
Oh I see, the charmstore channels, yea that is a good idea

[2017-01-11 17:41] mikemccracken commented on #554
this is #516 again.

[2017-01-11 20:04] mikemccracken commented on #554
Confirmed by black-holing GA on my local system and running `conjure-up` without the `-d` option, which has the same effect as `--notrack`
[code]

[2017-01-11 20:27] #554 closed

[2017-01-11 21:06] battlemidget commented on #554
adding test-track label here so we can make sure to include this into our testing

[2017-01-11 21:18] battlemidget commented on #555
@canonical-cgregan was this part of the --notrack issue you saw earlier or a separate issue? @mikemccracken did commit a fix for the former and I'll get it pushed to the daily ppa in a bit

[2017-01-11 21:20] battlemidget commented on #550
@coriolnus Please let me know once you've posted your MAAS question to askubuntu.com and I can get the right people to look at it. Once we get passed that issue the rest of conjure-up installation should proceed as normal.

[2017-01-11 21:22] battlemidget opened #558 "handle juju get_models exception better"
From https://github.com/conjure-up/conjure-up/issues/550

[2017-01-11 21:24] mikemccracken commented on #555
I agree that we shouldn't have conjure-up deploying a broken bundle. I think the fix is to have conjure-up run as part of the bundle's promotion to stable, not to have conjure-up pin the bundle version.
If the bundle can't be deployed by conjure-up, especially if it's a bundle that worked before, the bug is probably in the bundle and not conjure-up, and we should fix it there so that "stable" mean

[2017-01-12 07:52] coriolnus commented on #550
@battlemidget Hello,

i have posted the question to the askubuntu,
http://askubuntu.com/questions/870634/maas-cant-ssh-to-remote-host

[2017-01-12 09:14] battlemidget commented on #550
Thanks, you'll want to provide more detail about your environment (networks, maas versions, maas logs)

[2017-01-12 09:51] simonklb commented on #553
I think this could be the issue I'm facing as well, but with OpenStack base for MAAS. Rather than deploying all of the charms onto LXD machines, conjure up spins up one machine per charm. Ended up with ~20 servers running instead of 4... :)

[2017-01-12 12:13] battlemidget commented on #553
@simonklb thanks we'll get this sorted

[2017-01-12 17:05] battlemidget opened #560 "handle inclusion of lxd snap"
With snappy we utilize the LXD snap and will change the way we check for existing LXD's, we should handle both cases for if lxd is installed via apt or snap, at least until snap is the only way forward.

[2017-01-12 19:33] mikemccracken commented on #553
@canonical-cgregan are you seeing this on a MAAS controller or something else? Curious if it's limited to MAAS - the add-machine handling path is different for MAAS vs. the rest.

[2017-01-12 20:04] battlemidget opened #562 "add custom systctl options to the deb packaging"
Add the LXD production recommended sysctl options to our deb packaging to be installed and update the system for a production grade LXD deployments

[2017-01-12 20:19] canonical-cgregan commented on #553
When using the Maas option in conjure-up is when I see this behavior.

On Jan 12, 2017 21:34, "Michael McCracken" <notifications@github.com> wrote:

@canonical-cgregan <https://github.com/canonical-cgregan> are you seeing
this on a MAAS controller or something else? Curious if it's limited to
MAAS - the add-machine handling path is different for MAAS vs. the rest.

—
You are receiving this because

[2017-01-12 20:23] mikemccracken commented on #553
@canonical-cgregan thanks. I have a fix in progress, it should be committed today and will be available in our daily-git ppa for testing.

[2017-01-12 20:27] mikemccracken opened #563 "Better JSON errors during processing scripts results"
[code]

[2017-01-13 07:05] sergiusens opened #565 "using localhost with lxd init has confusing instructions"
I went throught the `conjure-up` and didn't have `lxd` setup it says it drops me to a shell before telling me to run a couple of instructions.

It would be nice to see those instructions on the shell and it would be better to not say *drop* but mention that it is exiting and we need to restart the process (rerun `conjure-up`) since as it is I get the impression I need to exit the shell when done w

[2017-01-13 07:05] sergiusens opened #566 "First run on new system gets stack trace"
I ran the setup process but I get a big stack trace of something about `accounts.yml` and `juju`. This is a freshly setup system.

[2017-01-13 07:06] dustinkirkland opened #567 ""DEPLOY SUMMARY" should show some timings"
The deploy summary page is awesome.  It should show some timing stats.  How long it took to bootstrap/download/configure/deploy, etc.  Each of your major steps, broken out, and then the overall.

Deployment summary for kubernetes-core

Application                 Result

────────────────────────────────────────────────────────────────────────────────────────────────────────────

Kubernetes Cluster

[2017-01-13 07:13] dustinkirkland opened #568 "download kubectl and put it in ~/bin/kubectl"
It's great that the kubernetes bundle downloads kubectl for you.  It should put it in ~/bin/ though, rather than just in ~.

More importantly, there should be a kubectl snap.  But that's a separate issue :-)

[2017-01-13 07:15] gaughen opened #569 "display cloud name on deployment screen"
On the "Review and Configure Applications" screen I'd like it to show the name of the cloud I'll be deploying to, just so I can be confident that I didn't fat finger which cloud I selected.

[2017-01-13 07:15] sergiusens opened #570 "misleading error when ipv6 is enabled in lxd"
The error says that my accounts.yaml is missing but in reality
[code]

[2017-01-13 07:29] sergiusens opened #571 "juju bootstrap progress"
I see a screenshot like in http://imgur.com/a/dGE0l but I had to guess (not sure yet) if the number at the end is a percentage.

[2017-01-13 07:30] cmars commented on #568
The spell should also put the config in `~/.kube/config`, so you don't have to type `--kubeconfig ~/.kube/config.conjure-up` every time. That's too tedious.

I think some care needs to be taken though. If the user has an existing kubectl in ~/bin, or an existing ~/.kube/config, the spell really should prompt whether to overwrite these files. Think of established k8s devs that want to try conjure-u

[2017-01-13 07:30] gaughen opened #572 "back button"
I'd very much like a back button, so if I make a wrong choice, I can go back and change it.  I hit this when I hit enter twice on the first screen and it flew past the second screen and then wasn't sure which cloud I was deploying to, and wasn't able to go back and change it.

[2017-01-13 07:40] battlemidget opened #573 "Button name changes"
Architecture to Architect
Config to Configure

[2017-01-13 07:41] sergiusens opened #574 ""Unable to list models: {}".format(sh.stderr.decode('utf8')))"
[code]

[2017-01-13 07:41] #553 closed

[2017-01-13 07:42] mikemccracken commented on #570
thanks for filing!
this is a dupe of #495, so I'll close it here.

[2017-01-13 07:42] #570 closed

[2017-01-13 07:45] mikemccracken commented on #574
@sergiusens this looks like you got to the deploy screen without any bootstrapped controllers.
This shouldn't happen, as any error in bootstrap should have caused conjure-up to show a fatal error dialog. Can you give some more context to how you got here?

[2017-01-13 07:46] mikemccracken commented on #566
Hi @sergiusens is this the same bug as #570 ?

[2017-01-13 07:48] sergiusens commented on #574
@mikemccracken Adam asked me to log just like this as it was enough for him.

This is a vanilla default setup inside a fresh lxd xenial image right after it ends downloading the cloud image when setting up a Core Kubernetes spell

[2017-01-13 07:50] mikemccracken commented on #574
@sergiusens ok, thanks, I'll check with him.

[2017-01-13 07:56] mikemccracken commented on #572
Agreed this would be nice. And it'd be easy enough for the first couple screens.
IIRC we decided in discussion with design that it's best to be consistent and since back/forward doesn't make as much sense in later screens, we left it off the first few too.

Might be worth revisiting this in light of plans for using conjure-up to revisit a previous deploy to add to it. Changes necessary to make tha

[2017-01-13 08:49] battlemidget commented on #568
Reason we dont overwrite ~/.kube/config is that someone may have an existing cluster and we didn't want to step on that.

We could potentionally name the config differently and provide a wrapper script that calls kubectl with the correct config.

[2017-01-13 09:53] battlemidget opened #575 "summary view should contain link to full bundle readme"

[2017-01-13 10:13] ChrisMacNaughton opened #576 "Conjure up won't bootstrap a named LXD cloud on Zesty"
conjure-up/kubernetes: [ERROR] conjure-up/kubernetes: Showing dialog for exception:
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/conjureup/controllers/newcloud/gui.py", line 171, in render
    creds = Schema[app.current_cloud]
KeyError: 'lxd'

I manually created this clouds.yaml for other clouds:

[code]

[2017-01-13 11:46] battlemidget commented on #549
Talked with some of the eco guys about how we can do this. Going to look into brew and what it takes to get things like urwid with ncurses installed.

[2017-01-13 11:50] battlemidget opened #577 "bootstrap wait output should be left justified"

[2017-01-13 19:49] mikemccracken opened #578 "deploying kubernetes-core onto LXD breaks due to nested LXDs"
Since adding the placement-sync code, deploying kubernetes-core attempts to put easyrsa onto a LXD container inside the LXD container 0. There's no reason to do this, LXD deploys can be flat.

[2017-01-13 20:32] #578 closed

[2017-01-14 12:42] #577 closed

[2017-01-15 16:11] coriolnus opened #582 "Stuck at deploying applications"
Hello Again,

i have solved the previous issue with maas and can able to get past the ssh problem but now, i'm having trouble, conjure-up successfully deployed ceph-mon to 3 hosts and stuck at waiting for machines as you can see below, i have left no means of troubleshoot becouse i dont know whats keeping it at waiting for machines, how should i proceed? could you please direct me to it

![ekran a

[2017-01-17 13:33] #573 closed

[2017-01-17 15:31] castrojo commented on #495
Can we bump the priority on this? Had a user hit this in IRC.

[2017-01-17 16:33] battlemidget commented on #495
Yea I'll try to get this fixed asap

[2017-01-17 16:38] Meai1 opened #583 "It's not clear whether I should use the mouse or keyboard"
Apparently both is possible but there is little indication of what happens when.
Sometimes the installer appears to be stuck but when i click inside, suddenly it appears i have activated some hidden option and it continues.

[2017-01-17 16:39] battlemidget commented on #583
Thanks for the report, I've been debating disabling mouse support all together as it's not heavily tested.

[2017-01-17 16:55] Meai1 opened #584 "Nonsensical keyboard navigation"
On this screen 1, I only press UP and DOWN arrow keys. NOTHING SHOULD HAPPEN(!) right? Because I'm not pressing ENTER.
Not to mention that the screen itself is quite nonsensical. 6 applications? What 6 applications? I see two nondescript [configure] lines, then it says "flannel units: 0", no idea what that means either.

![1](https://cloud.githubusercontent.com/assets/1112157/22030516/227b6eaa-dcd

[2017-01-17 17:16] battlemidget commented on #584
So we designed the UI around a 130x43 terminal as you can see it is difficult to get the entire UI in a 80x30 terminal.

Pressing up or down doesn't cause anything to be deployed so not sure where you're seeing that at.

We'll see what we can do about further optimizing the UI got smaller screens.

[2017-01-17 17:33] mikemccracken commented on #584
Hi @Meai1 I'm sorry you've had a frustrating experience here. Thanks very much for filing the bug with screenshots, that was really helpful.

As @battlemidget mentioned, we designed it for a significantly larger terminal. I'd be very annoyed myself if I had to use it at the size you're showing.

There are screenshots at our docs page here: http://conjure-up.io/docs/en/users/#getting-started which

[2017-01-17 18:06] mikemccracken commented on #583
@Meai1 is it possible that you used the middle button and pasted some text into the window? The terminal UI is unable to distinguish text entered that way from keys pressed, and so if you paste text that includes a letter that causes the UI to do something, it'll do that thing.

Unfortunately, that's not even something we can disable, AFAICT.

[2017-01-17 18:42] mikemccracken opened #585 "Need warning about small terminal sizes affecting usability"

[2017-01-17 18:45] mikemccracken opened #586 "Spells need a way to say how much disk space they need"
Per user discussion on juju-freenode, spells which can be deployed onto LXD might spin up enough machines to fill your disk. 💥

Spells should be able to specify for each cloud type that they care about (probably just lxd, but it should be general), how much available space they will take up to deploy and be useful.

[2017-01-17 18:48] mikemccracken commented on #584
@Meai1 I've filed issue #585 about this problem - I'd be very interested to hear if there's some reason why using a larger terminal window won't work for you. I understand that the default size of a terminal in Unity is smaller than the 130x43 size we've targeted, but as you can see it's difficult to fit a useful UI in such a small space. If you have a use case that requires a small terminal, we c

[2017-01-17 20:04] Meai1 commented on #584
No, I can use a bigger terminal. But if you're only adding a warning then it should be a gigantic warning because it makes the terminal completely unusable in unpredictable ways. It's not just a minor inconvenience, for me the entire thing was simply a broken product.

[2017-01-17 20:37] Meai1 opened #587 "If lxc is used, conjure-up needs to deal with lxc problems too"
If there are lxc containers left over from interrupted installations, conjure-up should allow me to view and delete them.
If lxc networking isnt setup, conjure-up should allow me to execute it from within the installer.
If lxc needs a zfs pool then that should be created by conjure-up, possibly showing me my current disk layout and letting me partition something for that use.

The same thing appli

[2017-01-17 20:39] battlemidget commented on #587
This is incorrect, we will fix the issues to make conjure-up more user friendly including guiding you through setting up LXC networking, ZFS, etc.

This is still a young project and we haven't covered every single use case so bugs like this will help us narrow our focus.

Aside from that paragraph thank you for taking the time to file the bug and we'll make sure to get those items addressed.

[2017-01-18 07:27] mikemccracken opened #589 "show list of existing credentials to use instead of entering new ones"
If you've already set up creds for a cloud but you want to spin up a new controller on it, it'd be great if you could reuse the creds instead of entering them in again and creating a dupe.

[2017-01-18 07:31] mikemccracken commented on #589
sorry this is a dupe of #545.

[2017-01-18 07:31] #589 closed

[2017-01-18 07:32] mikemccracken commented on #541
see also https://bugs.launchpad.net/conjure-up/+bug/1656214

[2017-01-18 07:42] mikemccracken opened #590 "sometimes the bootstrap output is way too wide"
output for lxd bootstrap just now included full text of some keys, all on one line, thus filling the screen.

we should limit the size of lines shown along with limiting the number of lines. It's just for showing progress, so we can truncate them

[2017-01-18 14:25] battlemidget opened #591 "support network spaces"
Original bug:

[code]

https://bugs.launchpad.net/conjure-up/+bug/1632998

[2017-01-18 14:29] battlemidget opened #592 "fails to deploy on s390x"
[code]

[2017-01-18 14:30] battlemidget opened #593 "Registered DNS names don't reflect same names specified in configuration Edit"
Ran through conjure-up almost successfully (failed one machine due a typo on a cidr notation). When I go to log into the openstack dashboard I get an error saying can't contact keystone. Looking at the configuration it is pointed at the correct dns name but this hasn't been registered in MAAS. Therefore no name resolution. The container instance is registered but this is no good as it is dynamic.

[2017-01-18 14:31] battlemidget opened #594 "spells need to be able to specify what hw architecture they support"
After successfully upconjuring kubernetes core on a ppc64el system, conjure-up reports that

  The Kubernetes client utility is now available at '~/kubectl'

This is a lie, there is nothing there.

'juju status' also reports no machines on the local lxd, but conjure-up had no complaints.

$ juju status
Model Controller Cloud/Region Version
conjure-up mayfly localhost/localhost 2.0.2

App Version S

[2017-01-18 14:32] battlemidget opened #595 "conjure-up uses petname for model name"
conjure-up apparently uses single-word petnames for Juju models it
creates, e.g.:
[code]
A bare pet name is pretty confusing and would only get more so if you
conjured up multiple spells. At a minimum, I think the spell should
be indicated in some way in the model name (perhaps combined with a
petname, if you need to avoid clashes). It might also be useful to
indicate in some way that this is a co

[2017-01-18 14:33] battlemidget opened #596 "provide way to de-conjure-up a spell"
It would be nice to provide a way to de-conjure-up a spell. While 'juju destroy-model' works, it a) exposes Juju unnecessarily, and b) doesn't cover other things the spell might do to the host (e.g. the kubernetes-core spell adds a lxd profile)

[2017-01-18 14:33] battlemidget opened #597 "provide tab completion"
Please provide tab completion for conjure-up. e.g. it'd be nice if I could type conjure-up ku<tab> and have it complete to kubernetes

[2017-01-18 14:34] battlemidget opened #598 "Not obvious how to report a bug"
conjure-up appears to to track bugs in Launchpad, but it's not obvious from the website where to report bugs; the only links are to GitHub and resources like Ask Ubuntu.

[2017-01-18 14:34] battlemidget opened #599 "Spell selection doesn't highlight requirements (or any other spell+bundle details)"
When I fire up conjure-up kubernetes I see two options:

  Kubernetes Core
  The Canonical Distribution of Kubernetes

There is actually a difference between them in terms of system requirements, but the description for either of them doesn't make it clear. Could we expose those so we know which option is suitable to select? We might want to surface more details (number of services, etc?) if that

[2017-01-18 14:35] battlemidget opened #600 "Why show Advanced Configuration button if there are no advanced options?"
Follow:

  Kubernetes Core -> Easy RSA Configure -> Show Advanced Configuration

Why does that button appear if there are no advanced options?

[2017-01-18 14:35] battlemidget opened #601 "conjure up stops on hook error even though juju retries"
I installed the Canonical Kubernetes bundle.

During the deployment of the charms, there was a hook error (etcd cluster relation joined error as stuff was starting up). Juju retried the hook and continued ok. But conjure-up gets stuck on the error:

"Oops, there was a problem with your install".... etc.

[2017-01-18 14:37] battlemidget opened #602 "running pre-deployment tasks non-responsive"
I did 'conjure-up kubernetes', it got through the bootstrapping of Juju, and all the way to:
  Running pre-deployment tasks.

However, on that screen there is no other text or spinning icon. So it just has the banner at the top, and the single line above.
I went to resize the window to take a screenshot, and it destroyed the display so I now only have that one line shown. It did not resize or do a

[2017-01-18 14:37] battlemidget opened #603 "In "REVIEW.." view, Subordinates are confusingly followed by "Units: 0""
When you have a subordinate (like flannel in k8s core) displayed in the "REVIEW AND CONFIGURE APPLICATIONS" screen, it indicates "Units: 0". That's kind of untrue, and left me wondering if I was going to get flannel or not.

[2017-01-18 14:37] battlemidget opened #604 "Architecture view lets you add machines without making it clear there won't be any units assigned."
The architecture view lets you add machines in advance of units being added. It knows how many units are available, as it only lets you assign them, but if you go there first you have no clue that adding machines won't do anything useful until you increase the number of units.

The number of units is incidentally displayed in the header but I missed it a few times until I took a fresh look and sca

[2017-01-18 14:38] battlemidget opened #605 "conjure-up ui does not work on 80x24 terminal"
When running conjure-up in a "standard" 80x24 character terminal, the interface is unusable. Text paragraphs in the detailed description are written assuming a wider terminal, and have hard newlines, which leads to word wrapping and badly flowing text. This wastes nearly all the available vertical screen space, which in turn crowds out the other widgets, making it impossible to navigate.

[2017-01-18 14:38] battlemidget opened #606 "usability improvement deploying a second kubernetes"
After already deploying a kubernetes bundle, if you deploy a second one, the kubectl binary and config is saved to an arbitrary directory to avoid collision with the versions from the first deploy.

It would be better if the user were prompted for the directory name, with a sensible default such as the model name or something. That way, they will know exactly where these artefacts have be placed.

[2017-01-18 14:39] battlemidget opened #607 "on error, conjure-up presents 'quit' option that doesn't quit"
while trying to conjure-up a bundle on a network with very bad packet loss, I hit a timeout trying to connect to the charm store. conjure-up gave me a helpful error message explaining the problem, and the option to 'Quit'.

Selecting 'Quit' did not actually quit conjure-up; instead I got the following output, and then conjure-up hung:

Exception in ev.run():
Traceback (most recent call last):
  Fi

[2017-01-18 14:39] battlemidget opened #608 "if a bundle deployment fails, conjure-up doesn't tear out the partially-installed bits"
A conjure-up deploy failed mid-way through due to an error communicating with the charm store. I exited out of conjure-up through the UI's 'Quit' button, and found a lot of partially-configured juju units:

$ juju status
Model Controller Cloud/Region Version
gecko grouse localhost/localhost 2.0.2

App Version Status Scale Charm Store Rev OS Notes
easyrsa waiting 0/1 easyrsa jujucharms 5 ubuntu
etc

[2017-01-18 14:40] battlemidget opened #609 "conjure-up quits if a charm hook error happens"
During deployment of the Canonical Deployment of Kubernetes, one of the etcd units had a hook error. The hook was retried and the unit stabilized. Despite this, a few moments later, the conjure-up deployment exited because of the transient hook failure.

[2017-01-18 14:41] battlemidget opened #610 "Adding machines with kvm causes conjure-up Oops (localhost controller)"
I deployed a k8s core with one kvm machine added in the worker architecture page. The deployment ran through most of the steps, but the kvm machine ended up stuck in down/pending state, and the conjure-up UI ended up with an Oops "Error in one of the applications deployment" (that error message deserves a rewrite, btw).

Log: http://paste.ubuntu.com/23791234/
Status: http://paste.ubuntu.com/237912

[2017-01-18 14:42] battlemidget opened #611 "Oops when running false for required in a step"
I am working on a step in the hadoop-processing spell so users may optionally run a Terasort benchmark.

My step.yaml looks like:
title: Terasort Benchmark
description: |
  Runs teragen to generate sample data, and then runs terasort to sort that data.
viewable: True
required: False

Code at https://github.com/arosales/spells/tree/master/hadoop-processing

When I run this spell I get an error:
"Co

[2017-01-18 17:35] mikemccracken commented on #611
I removed the traceback in the issue text because it's just the stack from him pressing the OK button on the error dialog.

[2017-01-18 17:38] mikemccracken commented on #611
@battlemidget - From what I can tell this is because his step script is writing plain text and not yaml. I don't think we need this bug here. Feel free to reopen if you disagree

[2017-01-18 17:38] #611 closed

[2017-01-18 17:54] mikemccracken opened #614 "docs: developer documentation for step writing needs to cover stdout being JSON only"

[2017-01-18 18:16] mikemccracken commented on #609
IMO this is correct behavior. 'error' should mean error, and it's a charm bug if the charm sends an 'error' status that really just means it needs to wait.

In discussions with eco folks last week, Chuck agreed and fixed this in the etcd charm:

https://github.com/juju-solutions/layer-etcd/issues/72

 and in the k8s bundle here:

https://github.com/juju-solutions/bundle-canonical-kubernetes/issues

[2017-01-18 18:16] #609 closed

[2017-01-18 18:19] mikemccracken commented on #610
@battlemidget not sure if kvm inside lxd machines is well tested but I think it should work. have you tried this? Do you have the contact info for the original bug filer?

[2017-01-18 18:22] mikemccracken commented on #602
I think this is a dupe of #541 -- @battlemidget any chance you have the original bug filer's contact?

[2017-01-18 18:22] #602 closed

[2017-01-18 18:24] mikemccracken commented on #606
My thoughts on this - maybe we should name the kubectl binary `kubectl-$KUBEVERSION` and then if that already exists in `~/bin`, leave it there. Then as OP suggests, we can name the config file `kubeconfig.$MODELNAME.yaml`

[2017-01-18 18:25] mikemccracken commented on #605
current solution is #585. I'm going to close this bug but if we hear that lots of people want to use it at the small size we can reopen it and use it to track that design work.

[2017-01-18 18:25] #605 closed

[2017-01-18 18:26] mikemccracken commented on #604
@battlemidget I'd like to ask some followups here, do you remember who filed this on LP?

[2017-01-18 18:27] mikemccracken commented on #603
Agreed, this is misleading. I think we should just not show the "Units" text for subs.

[2017-01-18 18:28] mikemccracken commented on #601
dupe of #609

[2017-01-18 18:28] #601 closed

[2017-01-18 18:30] mikemccracken commented on #599
Note about the bonus points - this was done in #548 and is in the current daily-git PPA version

[2017-01-18 18:31] mikemccracken commented on #599
wrt the descriptions, agreed. But those strings are defined in the spells repo in https://github.com/conjure-up/spells/blob/master/spells-index.yaml -- I'm moving this bug there.

[2017-01-18 18:31] #599 closed

[2017-01-18 18:34] mikemccracken commented on #598
I think this is fixed in #612

[2017-01-18 18:34] #598 closed

[2017-01-18 18:37] mikemccracken commented on #595
I like this idea. Honestly I'd prefer `$spellname-$UUID`
where `UUID=uuidgen -t | cut -d '-' -f 1` instead of using petnames at all

[2017-01-18 18:38] mikemccracken commented on #594
@battlemidget do you remember who this was?

[2017-01-18 18:39] mikemccracken commented on #593
I don't really follow what's going on here. It sounds like a DNS issue? @battlemidget do you remember who this was from?

[2017-01-18 18:41] mikemccracken commented on #592
This is odd. I wonder if it's reproducible.
This might be a problem with connecting to github that wasn't properly as an error?
I'm guessing that the s390x is behind a firewall that doesn't reach github. It should time out and fail though.

[2017-01-18 18:57] battlemidget commented on #610
kiko is the original bug filer I think I remember how he reproduced it I will test some more

[2017-01-18 18:59] battlemidget commented on #604
https://bugs.launchpad.net/conjure-up/+bug/1656210

[2017-01-18 19:00] battlemidget commented on #594
https://bugs.launchpad.net/conjure-up/+bug/1656263

[2017-01-18 19:01] battlemidget commented on #593
https://bugs.launchpad.net/conjure-up/+bug/1633446

[2017-01-18 19:01] battlemidget commented on #592
https://bugs.launchpad.net/conjure-up/+bug/1621933

[2017-01-18 19:18] #495 closed

[2017-01-18 19:53] mikemccracken opened #615 "num_units is not necessary with the architecture view"
having num_units in the config view is vestigial from before the architecture view was around.

restricting users to num_units in the arch view is unnecessary and confusing (see #604 )

We should just remove num_units in config and let users do whatever they want in arch.

[2017-01-18 20:08] mikemccracken commented on #594
OK, so this won't work on ppc64el: the kubernetes-core spell gets kubectl from the kubernetes-master charm, which only packages x86-64 binaries.
Our kubernetes guys are telling us this is from upstream - there are no current kubernetes builds for ppc64 or s390x.

[2017-01-18 23:56] jleavers opened #617 "Unable to conjure-up kubernetes with OpenStack"
Status gets stuck forever on "Applications not ready yet, please wait."

All machines are "waiting":

[code]

On checking Horizon no instances have been created. The controller was created successfully with `juju bootstrap` and if `juju deploy canonical-kubernetes` is used instead of `conjure-up`, it does start creating instances.

[2017-01-19 00:20] battlemidget commented on #617
did you use conjure-up to deploy openstack or is this a custom cloud?

[2017-01-19 10:13] jleavers commented on #617
Unfortunately I never managed to get conjure-up to deploy openstack :-)

So yes, it was deployed without it I'm afraid.

[2017-01-19 14:04] #541 closed

[2017-01-23 20:43] battlemidget commented on #596
This may actually be something we want to provide in the spell for cleaning up?

[2017-01-23 22:29] mikemccracken commented on #596
Yeah, the spell will have to provide a cleanup script - e.g. not every
spell adds a lxd profile, or the kubernetes spell might want to remove the
kubectl it installed.

Also, just a note that this ties in with the problem of how we should store
state about a deployed model, and a good solution there will help us solve
this.

Specifically, if we can store conjure-up state in juju storage for a dumm

[2017-01-24 03:35] #571 closed

[2017-01-24 03:35] #595 closed

[2017-01-24 13:51] battlemidget commented on #560
This is fixed for now, we rely on the deb installed LXD as we currently cannot use the snap version without some refactoring of the conjure-up code.

[2017-01-24 13:51] #560 closed

[2017-01-24 13:51] battlemidget commented on #535
Were you able to make any progress on this?

[2017-01-24 13:54] TJKoury commented on #535
Honestly I gave up, just using lxd plus my own scripts, seems to be easier to manage than juju.  The REST API for lxd is simple to use.

[2017-01-24 14:03] battlemidget commented on #535
Sorry to hear that, we do have the openstack with novalxd option which puts everything in lxd containers for you but that is just for a single machine deployment.

Please let us know if you do decide to try again so we can dig into your setup more.

[2017-01-24 14:03] #535 closed

[2017-01-24 14:21] TJKoury commented on #535
Ok, and thank you for taking the time to walk through the issues with me.

[2017-01-24 21:16] arosales commented on #611
I see this bug is closed. Just wanted to say thanks for the reply, and I'll try @mikemccracken suggestion to output in yaml and dropping the OpenStack boiler plate scripts.

[2017-01-24 21:26] mikemccracken opened #621 "export bundle after mutations"
Users can update the bundle using placement and config.
Would be nice to automatically write out the final bundle to a file so that you can use it as the starting point for future non-conjure-up deploys.

Requested by eco team based on user feedback.

[2017-01-25 01:58] battlemidget commented on #562
I dont think we're going to focus on deb packaging for now as we got snap up and working.

[2017-01-25 01:58] #562 closed

[2017-01-25 01:59] battlemidget commented on #544
I couldn't reproduce this problem as multiple conjure-up deploys on same system were being successfully deployed

[2017-01-25 01:59] #544 closed

[2017-01-25 18:13] battlemidget opened #622 "track cloud selections"

[2017-01-25 19:05] davecore82 opened #623 "conjure-up kubernetes crashes and doesn't run post steps but juju status looks good"
While following the [Canonical Distribution of Kubernetes – Release 1.5.2](https://insights.ubuntu.com/2017/01/24/canonical-distribution-of-kubernetes-release-1-5-2/) article, I choose The Canonical Distribution of Kubernetes in conjure-up when asked to and I deploy it to localhost (LXD). After going through the deployment, conjure-up crashes (with crash dump in /var/crash/_usr_bin_conjure-up.1000

[2017-01-25 19:45] battlemidget opened #624 "conjure-up continue operations"
For things like kubernetes we could re-run conjure-up against it and present the user with a list of actions to perform against the cluster.

[2017-01-25 21:17] battlemidget commented on #623
This was due to resource constraints, we do outline those requirements on http://conjure-up.io

[2017-01-25 21:17] #623 closed

[2017-01-25 23:05] elsonrodriguez commented on #565
In addition, the terminal mode prevents copying of the lxd setup instructions, at least in Terminal.app

Really though this should be automated as part of the setup.

[2017-01-25 23:42] battlemidget commented on #565
@elsonrodriguez Hi, so for new users this is being addressed in our upcoming release (2.1) where it'll automatically configure lxd networking and default storage prior to starting conjure-up.

For users that have lxd already setup and may have something like ipv6 we will also detect that and point them to our documentation on how to disable ipv6 which would have your copy and paste abilities there

[2017-01-26 02:47] battlemidget commented on #624
We can utilize the model-config api for storing a string of yaml/json metadata within an 'extra-info' key in order to give us the ability to perform different tasks based on what data is available for conjure-up.

[2017-01-26 02:49] battlemidget opened #626 "provide cleanup hook for conjure-down"
Second part to https://github.com/conjure-up/conjure-up/issues/596

Once that code is merged we need to provide a hook for cleaning up anything conjure-up has modified like lxd profiles for the model being destroyed.

[2017-01-26 02:50] battlemidget commented on #608
Ref: https://github.com/conjure-up/conjure-up/issues/626

[2017-01-26 02:53] battlemidget commented on #583
The UI supports both mouse and keyboard and anything editable or any buttons can be pressed with a key or a mouse click.

Not sure there is an actual bug here to fix.

[2017-01-26 02:53] #583 closed

[2017-01-26 02:54] battlemidget commented on #585
Do we just fail to start the UI here until our minimum columns/rows are met?

[2017-01-26 06:43] mikemccracken commented on #585
I was leaning towards just a warning. Maybe a text warning before showing
the UI, that doesn't go away until you type 'Y' or something?
Might be nice to get design input on this.

On Wed, Jan 25, 2017 at 6:54 PM, Adam Stokes <notifications@github.com>
wrote:

[2017-01-26 06:53] mikemccracken commented on #624
I'd like to add a reminder here that once this is done, the conjure-down destroy controller should only show you models that have the extra-info key - so you can only conjure-down models that were conjured-up.

[2017-01-26 17:44] #65 closed

[2017-01-26 17:44] #587 closed

[2017-01-26 17:44] #596 closed

[2017-01-26 17:44] battlemidget opened #627 "add machine count to destroy confirmation page"
add machines count to the confirmation page

[2017-01-27 13:47] castrojo opened #628 "Support modifying instance size"
From IRC:

02:02          ⤷ ╡ i am using conjure-up to deploy Kubernetes on aws
02:03          ⤷ ╡ could you tell me how to modify aws instance default size as well change aws region
02:04          ⤷ ╡ it took while deploying m3. medium and us-east-1
02:04          ⤷ ╡ but i want to change that

[2017-01-27 13:55] castrojo opened #629 "Conjure-up fails on egress-filtered network due to GA unavailability"
On an egress filterned network it seems c-u fails if it can't connect to google analytics.

[code]

[2017-01-27 13:58] castrojo opened #630 "Support deploying to other regions in a cloud"
From IRC (the one for instance size I filed separately):

02:02 ⤷ ╡ i am using conjure-up to deploy Kubernetes on aws
02:03 ⤷ ╡ could you tell me how to modify aws instance default size as well change aws region
02:04 ⤷ ╡ it took while deploying m3. medium and us-east-1
02:04 ⤷ ╡ but i want to change that

Not sure how we would expose this, I think a separate screen after they choose the cloud mig

[2017-01-27 14:05] battlemidget commented on #629
This shouldve been fixed already, can you try the build from the snap store?

Snap install conjure-up --classic

[2017-01-27 14:07] battlemidget commented on #565
This has been addressed with our latest snap release

[2017-01-27 14:07] #565 closed

[2017-01-27 14:08] battlemidget commented on #630
Dup https://github.com/conjure-up/conjure-up/issues/511

[2017-01-27 14:08] #630 closed

[2017-01-27 14:22] castrojo opened #631 "Add support for DreamCloud"
Tracking bug as this is a work-in-progress. Marco's got us working on DreamCloud but we need to work with them on getting the right metadata in their cloud:

- https://github.com/dreamhost/dreamcloud-docs/issues/67
- https://asciinema.org/a/7ba3snjdkxybmgisbm8430c34

[2017-01-27 15:44] battlemidget commented on #631
Looks like we may want to expand on the add cloud experience in conjure-up

[2017-01-27 19:32] battlemidget opened #632 "gnome-terminal colors get brighter after exiting conjure-up"
Using gnome-terminal with $TERM=xterm256color the prompt colors always get brighter after exiting conjure-up.

Note: couldnt reproduce with terminator

[2017-01-28 07:25] battlemidget opened #633 "should spell steps have conditions based on cloud provider"
An example would be a step that would install additional storage options like ceph if on localhost for kubernetes.  This step would only be available on whatever cloud-whitelist we set in this case localhost.

@mikemccracken thoughts?

[2017-01-28 07:40] battlemidget commented on #520
@chuckbutler could you outline the steps I would need to run to experiment getting this setup to work? Right now im using the localhost provider with ceph as my backend storage. Is removing the load balancer something I need to do with kubectl or is that a juju command?

[2017-01-28 07:42] mikemccracken commented on #633
I think there are two ideas here:
1. steps could have a whitelist, so some steps are only shown for e.g.
localhost. This seems like it's probably useful and not too hard to add.
Maybe setting up a local dir as an NFS-based kubernetes storage provider
would be something you'd only do on localhost.

2. the add-on bundles we discussed earlier as part of the 'next-deploy'
idea should also have a white

[2017-01-30 14:48] battlemidget commented on #568
For @cmars comment @marcoceppi has provided this gist https://gist.github.com/marcoceppi/e74c10178d1b730a36debc1f1622b2ce that we'll get worked into the spells

[2017-01-30 14:55] marcoceppi opened #635 "Allow specifying model name in headless"
We're using something like the following in headless:

[code]

But this creates model names that don't represent what the deployment is. Suggestion to allow a third positional argument to set model name:

[code]

Alternatively, it might be interesting to implicitly set the model name in the UI above the deploy screen as a prefilled but editable "Deployment name" to expose this functionality in the

[2017-01-30 15:01] battlemidget opened #636 "discuss: spell sdk, developer happiness"
We need to decide on the best course of action for some sort of spell sdk. The reactive pattern looks like a great candidate for something like this (borrowing the ideas from charms.reactive). This would give us both bash and python bindings initially.

An example thought of how `00-deploy_done` could work:

[code]

This is a brainstorming issue to attempt to settle on the way forward for spell de

[2017-01-30 16:01] battlemidget opened #637 "add ability to customize model name in UI"
From https://github.com/conjure-up/conjure-up/issues/635

[2017-01-30 16:03] battlemidget opened #639 "allow specifying custom controller in headless mode"
Give ability to define a custom controller name in headless mode

[2017-01-30 16:04] battlemidget commented on #629
I dont think this is an issue anymore as we've fixed prior bugs related to this

[2017-01-30 16:04] #629 closed

[2017-01-30 16:41] battlemidget commented on #538
The majority of these issues have been fixed with the latest snap package of conjure-up. We have a bug opened for warning the user about harware requirement/resources needed so the last point here will be addressed in the near future.

[2017-01-30 16:41] #538 closed

[2017-01-30 18:13] mikemccracken commented on #635
I think the main concern here might have already been addressed by the changes in https://github.com/conjure-up/conjure-up/pull/619 , right?

The problem @marcoceppi pointed out was "model names that don't represent what the deployment is", and while allowing the user to set them is one way to fix that, isn't automatically generating meaningful names solving the same problem without requiring the

[2017-01-30 18:18] mikemccracken commented on #637
See my comment on #635, I think a reasonable automatic name is best. All it
needs to do is help the user identify the model later, and the names we're
now generating should do that. I think @marcoceppi is right to be concerned
about adding one more thing for users to figure out what to do with.

(and our UI options for showing something that is mostly a label but subtly
shows that it can be edited

[2017-01-30 19:10] battlemidget commented on #635
I think @marcoceppi was more concerned with providing his own names for the models to represent the different phases of the application(s) deployed.

[2017-01-30 19:11] #627 closed

[2017-01-30 19:11] battlemidget commented on #637
I leave this open for another day to get @marcoceppi feedback (if any) otherwise it'll be closed.

[2017-01-30 19:12] battlemidget commented on #639
I think this one makes more sense to just have us auto generate the controller, going to close this request out.

[2017-01-30 19:12] #639 closed

[2017-01-31 02:24] battlemidget opened #641 "conjure-up isn't properly handling a failed bootstrap"
In some cases where a bootstrap doesn't complete fully some of the configs for juju may be in a inconsistent state which in turn enables conjure-up to fail when attempting to login to the controller.

[2017-01-31 03:34] mikemccracken commented on #641
How does the bootstrap fail without causing a Conjure-up error that stops
everything from continuing?

-Mike

On Mon, Jan 30, 2017 at 6:24 PM Adam Stokes <notifications@github.com>
wrote:

[2017-01-31 03:50] battlemidget commented on #641
This is the current error seen if the accounts.yaml file is either missing or incomplete: http://pastebin.com/2HwvdqPn

I think the `controllers.yaml` file exists but a matching account for that controller does not. Still waiting on the contents of this particular users's juju files.

[2017-01-31 04:59] mikemccracken commented on #641
ok, yeah that's a confusing error, it'd probably be helpful to see the
stdout and stderr from the bootstrap.
That should be in ~/.cache/conjure-up/$SPELLNAME/$MODELNAME-bootstrap.out
and .err

On Mon, Jan 30, 2017 at 7:50 PM, Adam Stokes <notifications@github.com>
wrote:

[2017-01-31 12:00] mc0e commented on #641
I'm about to try deploying kubernetes core to localhost a third time.  In each of the attempts so far the process has been incomplete, and it's at least unclear how to restart it.

In the first attempt, one of the etcd processes and one of the workers had still not come up after 3 hours, and I terminated conjure-up (ctrl-c).  It was far from clear how I might try to recover the situation, so in th

[2017-01-31 12:01] mc0e commented on #624
See also https://github.com/conjure-up/conjure-up/issues/641#issuecomment-276345562

[2017-01-31 12:06] mc0e commented on #608
This would be good, but even better would be if conjure-up could look at the extent to which the deployment so far matches the desired state, and either fix it or at least give clues to what's gone wrong.

[2017-01-31 12:52] battlemidget commented on #608
It is our intention to deploy of these applications as easy as possible. It is also our intention to have conjure-up clean up incomplete deployments without having the user to switch down to a terminal and learn the juju commands.

With that said we are working as hard as we can to get these things implemented. Thank you for your additional comments.

[2017-01-31 13:21] #632 closed

[2017-01-31 13:39] #622 closed

[2017-01-31 14:11] battlemidget opened #643 "use python-libmaas"
Deprecate our custom api client lib for https://github.com/maas/python-libmaas

[2017-01-31 14:21] battlemidget commented on #641
@mc0e while we address your other points in the code can you give us some additional information on your environment? Are you running conjure-up inside a VM? If so, what hardware specs? If not, what is the hardware specs on the system you're running conjure-up? If it's a laptop does it meet the recommended requirements from http://conjure-up.io/docs/en/users/#hardware-requirements?

[2017-01-31 14:41] battlemidget commented on #641
Also for this particular issue this is the error that isn't being surfaced properly:

[code]

So it's giving us a false error thinking it has something to do with missing juju files.

[2017-01-31 14:45] battlemidget commented on #641
https://bugs.launchpad.net/juju/+bug/1633362

[2017-01-31 15:15] chuckbutler commented on #520
If you've deployed kubernetes-core, no additional changes need to be made. HELM should "just work" at this point. If you're using CDK, you'll need to remove the api-load-balancer charm, and add the kube-api-endpoint relation between kubernetes-master and kubernetes-worker.  This will cause the kubeconfig to regenerate properly, and you can then use that kubeconfig for HELM deployments.

[2017-01-31 15:30] castrojo opened #644 "Crash when running conjure-down"
I have the conjure-snap installed with --classic, fired up a canonical-kubernetes with lxd, everything worked, then got this when tearing down.

[code]

[2017-01-31 15:33] marcoceppi opened #645 "Spells-dir expects git repo and public internet access"
It should try, but not fail on spell querying

[code]

[2017-01-31 16:55] mikemccracken commented on #645
@marcoceppi what version of conjure-up is this?
Also, is it the first time using it on that system, or is it failing to just update the spell registry?

@battlemidget IIRC this should have been fixed in https://github.com/conjure-up/conjure-up/pull/548 - I'm not sure what version that change went out…

[2017-01-31 17:06] mc0e commented on #641
I'm running in  VM with 8GB RAM and 200GB SSD.  Less than those hardware requirements you point me to.  That might make sense of the varied points at which the process fails.

Would I expect 8GB of RAM to prevent me even installing, or would it just mean there's not all that much room to do things in it once it's up?  At this point I'm primarily interested in exploring how it works.

[2017-01-31 18:43] marcoceppi commented on #645
I'm using conjure-up from the ppa, ppa:conjure-up/next

[2017-01-31 18:45] battlemidget commented on #645
I don't believe this is on the next ppa. The latest snap does have this fix if you're willing to try that out

[2017-01-31 18:46] battlemidget commented on #644
Thanks! Well get this sorted today

[2017-01-31 18:53] #585 closed

[2017-01-31 18:57] marcoceppi opened #646 "Remove juju from snap now that's it's classic"
classic snaps mount / as the users root and can search for user installed juju versions. Otherwise we're pulling pre-released versions of juju 2.1 and I'm not ready to take that level of risk in my deployments.

[2017-01-31 20:16] battlemidget commented on #646
You can install from ppa:conjure-up/daily-git for now

[2017-01-31 20:16] #646 closed

[2017-01-31 20:46] battlemidget commented on #645
@marcoceppi lemme know if the deploy still fails with the latest package from the daily-git ppa

[2017-01-31 22:28] #645 closed

[2017-02-01 15:28] #644 closed

[2017-02-01 15:36] #637 closed

[2017-02-02 18:19] battlemidget opened #648 "provide a better UI for accessing post processing steps after exiting conjure-up"

[2017-02-02 20:08] Laguna-x commented on #8
@battlemidget the first:
same issue
"error: flag provided but not defined: --upload-tools"

I'm trying to get it set up on a bare metal server running Ubuntu 16.04.1 (installed as maas region, next added rack localy on the same server, next installed openstack, next installed conjure)

installed conjure as written at "http://conjure-up.io"

$ uname -a
Linux mSys 4.4.0-59-generic #80-Ubuntu SMP Fri

[2017-02-02 21:55] battlemidget commented on #8
I think you can do SHIFT+INSERT and it'll paste in putty

Did you run

`sudo snap install conjure-up --classic`?

[2017-02-02 22:11] battlemidget opened #649 "zesty/yakkety snap conjure-up fails to load iptables rules"
[code]

[2017-02-03 05:01] #590 closed

[2017-02-03 06:22] Laguna-x commented on #8
@battlemidget , yes
`snap install conjure-up --classic`
wrote that installed latest version. tried twice. every selection in menu (single/nova-LXD/MaaS) shows the same message. will try another once later today, but i think it will be the same

PS forgot about keyboard )) windows makes me stupid )) 10x

[2017-02-03 13:18] battlemidget commented on #8
Make sure you apt-get remove juju-2.0 as the snap provides that already

[2017-02-04 16:53] rimusz commented on #549
really would love to use conjure-up locally on OS X

[2017-02-04 20:44] battlemidget commented on #549
My Mac mini showed up yesterday so it won't be long!

[2017-02-05 18:41] battlemidget opened #651 "use juju-wait deprecate 00-deploy_done script"
I've been using `juju-wait` python module for most of my testing scripts to wait for all units to become ready. This does so by waiting for all hooks to complete firing for a given amount of time.

I think we should utilize this because we can use it for both initial deployments and when we do our 'deploy next' strategy.

https://code.launchpad.net/juju-wait

[2017-02-05 18:41] battlemidget commented on #651
@mikemccracken

[2017-02-06 04:01] battlemidget commented on #651
The question here is do we want to remove deploy_done and just utilize `juju wait` within conjure-up for post deployments or allow spell authors to decide on if they wish to use that or not.

Currently, the spells make use of the latter.

[2017-02-06 04:02] battlemidget commented on #649
this was addressed by providing the `$SNAP/usr/bin/python3` as the python interpreter used in the snap wrappers

[2017-02-06 04:02] #649 closed

[2017-02-06 04:04] battlemidget commented on #558
This is still an issue as our exception handler doesn't stop the async queue

[2017-02-06 10:53] AdamIsrael opened #652 "Fresh install of conjure-up fails"
I just installed conjure-up for the first time on Ubuntu 16.04:

$ sudo snap install conjure-up --classic --beta

When I try to run it, I get this:
$ conjure-up
Traceback (most recent call last):
  File "/snap/conjure-up/54/bin/conjure-up", line 7, in <module>
    from conjureup.app import main
ImportError: No module named 'conjureup'

[2017-02-06 16:42] battlemidget commented on #652
After getting Adam upgraded to the `core` (vs `ubuntu-core`) and cleaning up some symlinks he was able to install and run the conjure-up snap without issue.

[2017-02-06 16:42] #652 closed

[2017-02-06 18:29] mikemccracken commented on #651
Looked at that module, it looks very comprehensive.
I think it'd be great to maybe ship it with the conjure-up spell library,
but I think we should also make sure that spell authors can still do
something custom if they need to. So don't completely replace the
deploy_done script, but let people use juju-wait in their scripts if they
want to.

On Sun, Feb 5, 2017 at 8:01 PM, Adam Stokes <notificati

[2017-02-06 18:30] mikemccracken commented on #651
Just saw the PR you merged using it. I think that approach works fine. +1

On Mon, Feb 6, 2017 at 10:29 AM, Mike McCracken <
mike.mccracken@canonical.com> wrote:

[2017-02-06 19:15] #651 closed

[2017-02-07 06:56] focaaby opened #653 "traceback in conjure-up"
I had finished `snap install conjure-up --classic --beta`

[code]

`$ snap --version`

[code]

`$ snap list`

[code]

[2017-02-07 13:56] battlemidget commented on #653
@focaaby Yea this is due to you running an older version of `ubuntu-core` (now renamed to `core`).

You'll want to upgrade that first by doing the following:

1. edit `/etc/apt/sources.list` and append the following to that file:

`deb http://archive.ubuntu.com/ubuntu xenial-proposed main restricted universe multiverse`

2. `sudo apt-get update`
3. `sudo apt-get install -t xenial-proposed snapd`
4

[2017-02-07 17:07] focaaby commented on #653
@battlemidget
After upgrading `ubuntu-core` to `core`, it works!!

Thank you very much!

[2017-02-07 19:55] battlemidget commented on #653
np! let us know if you run into other issues.

[2017-02-07 19:55] #653 closed

[2017-02-07 21:39] mikemccracken opened #654 "non-integer constraints not handled correctly for add-machines API"
from https://github.com/conjure-up/spells/issues/45

[2017-02-08 00:46] nobozo opened #656 "Conjure-up openstack on Ubuntu 16.10 Crash"
For what it's worth, I just tried running 'conjure-up openstack' on a Ubuntu 16.10 system with 256GB of RAM and 32 cores. I choose the LXD option and got:

[code]

[2017-02-08 01:03] battlemidget commented on #656
Thank you for the report, I'll get a system spun up and try to reproduce.

[2017-02-08 01:17] #654 closed

[2017-02-08 03:15] battlemidget commented on #656
Can you also pastebin your entire ~/.cache/conjure-up/conjure-up.log?

[2017-02-08 03:59] nobozo commented on #656
That's what I posted above.

[2017-02-08 04:08] battlemidget commented on #656
So I just did a fresh install of 16.10 and couldnt reproduce this. Were you deploying to an existing controller?

[code]

You could try the edge version to see if that makes a difference:

[code]

But I don't believe there were major lxd changes between revs.

[2017-02-08 04:11] nobozo commented on #656
It's possible there was an existing controller, but since I don't really know what a controller is yet, I can't be sure. (I'm trying to learn OpenStack). I've tried several ways of installing it with conjure-up but they've both failed, although in different ways.

I'll be happy to try your suggestion tomorrow.

[2017-02-08 04:12] battlemidget commented on #656
You can also run:

[code]

And destroy any existing deployments and attempt to re-deploy. Im EST and am in https://rocket.ubuntu.com/channel/conjure-up please drop by tomorrow so I can help more.

[2017-02-08 08:22] sabaini opened #658 "Documentation: need to install snapd manually"
Small buglet, http://conjure-up.io/docs/en/users/#installing-conjure-up instructs to use snap for xenial. My xenial machine (upgraded from trusty, fwiw) doesn't have snapd by default, needed to install manually.

[2017-02-08 08:25] sabaini commented on #658
Also, docs say to run

$ conjure-up

This probably should be $ snap run conjure-up ?

[2017-02-08 08:34] sabaini opened #659 "conjure-up for openstack lxd fails: "No controllers registered.""
After running "snap run conjure-up openstack" and choosing NovaLXD on localhost, I'm getting an exception:

[code]

[2017-02-08 13:39] battlemidget commented on #659
Can you pastebin your `~/.cache/conjure-up/conjure-up.log`?

[2017-02-08 13:40] battlemidget commented on #658
Thanks for the report, I'll get the documentation updated. Also once you have snapd installed and you `sudo snap install conjure-up --classic --beta` you only need to run `conjure-up` and not `snap run conjure-up`

[2017-02-08 13:47] #658 closed

[2017-02-08 13:49] battlemidget commented on #659
Also you shouldn't need to do `snap run conjure-up`, maybe since you upgraded and installed snapd you need to logout and back in in order to have `/snap/bin` added to your $PATH.

[2017-02-08 14:15] battlemidget commented on #584
A warning has been added

[2017-02-08 14:15] #584 closed

[2017-02-08 14:16] battlemidget commented on #566
Dup of #570

[2017-02-08 14:16] #566 closed

[2017-02-08 15:31] battlemidget opened #661 "track OS"
Add platform checks

[2017-02-08 16:14] battlemidget opened #662 "dont set perms on .cache dir if run as root"
Need to reorder https://github.com/conjure-up/conjure-up/blob/master/conjureup/app.py#L184-L191 as someone who runs this as root has the directory permissions altered

[2017-02-08 17:31] battlemidget commented on #635
We decided to stick with the recent changes that name the controllers/models relevant to whats being deployed.

[2017-02-08 19:02] #662 closed

[2017-02-08 19:51] marcoceppi commented on #635
Doesn't resolve this bug.

On Wed, Feb 8, 2017, 12:32 Adam Stokes <notifications@github.com> wrote:

[2017-02-08 20:08] mikemccracken commented on #635
@marcoceppi can you elaborate? I thought it solved your problem.

[2017-02-08 20:10] marcoceppi commented on #635
I would like to name my models in headless. Repeating 2 kubernetes core
deployments, let alone 5, mean I have models that are names
conjure-up-kubernetes-core-xxxx which is meaningless for me.

On Wed, Feb 8, 2017, 15:09 Michael McCracken <notifications@github.com>
wrote:

[2017-02-08 20:20] mikemccracken commented on #635
ok, thanks for clarifying

On Wed, Feb 8, 2017 at 12:10 PM, Marco Ceppi <notifications@github.com>
wrote:

[2017-02-08 20:45] sabaini commented on #659
Ok so the snapd pkg places /snap/bin on bash's path via /etc/profile.d
I'm using zsh there however, which doesn't read /etc/profile (probably wise). There's a bug lp:1640514 about this

[2017-02-08 20:48] sabaini commented on #659
FWIW I've executed

And have pretty similar results. Attaching logfile minus ssh pubkey

[conjure-up.log.gz](https://github.com/conjure-up/conjure-up/files/761895/conjure-up.log.gz)

[2017-02-08 21:01] battlemidget commented on #659
[code]

Ah try `sudo apt-get remove lxd` and re-run conjure-up. There are still a few conflicts here with deb installed LXD and snap installed LXD

[2017-02-08 23:26] battlemidget commented on #659
Fixed in https://github.com/conjure-up/conjure-up/commit/816725593c360f1d32e64465f178d6a9bbb8dd7c

[2017-02-08 23:26] #659 closed

[2017-02-09 04:17] battlemidget commented on #574
dupe of #641

[2017-02-09 04:17] #574 closed

[2017-02-09 04:19] battlemidget commented on #641
@mikemccracken this is the bug I was wanting to address with properly handling a failed bootstrap and providing the user with the errorview and a correct traceback.

[2017-02-09 04:20] battlemidget commented on #614
Discussed here: http://conjure-up.io/docs/en/developers/#deploy-done

[2017-02-09 04:20] #614 closed

[2017-02-09 04:22] battlemidget commented on #558
dupe of #641

[2017-02-09 04:22] #558 closed

[2017-02-09 17:46] mikemccracken opened #666 "cloud selection screen should show blacklisted / non-whitelisted clouds in grey"
Just leaving cloud types out of the list is confusing, instead we should show that they exist but are blacklisted for the current spell.

[2017-02-09 18:27] masaeedu commented on #287
Why was this closed?

[2017-02-09 19:24] #661 closed

[2017-02-09 21:22] battlemidget opened #668 "log lxd and juju versions"
Log which lxd and juju versions we're accessing.

[2017-02-09 22:21] battlemidget opened #669 "add back button post spell selection"
so user can go back and choose another spell

[2017-02-09 23:00] #635 closed

[2017-02-09 23:03] marcoceppi commented on #635
Documentation would need to be updated, but thank you!

[2017-02-09 23:05] battlemidget opened #670 "Document Allow specifying model name in headless"
Need to document this new feature, ref:https://github.com/conjure-up/conjure-up/issues/635

[2017-02-09 23:53] nobozo commented on #656
For the record, for some reason reinstalling snap core solved this.

[2017-02-09 23:57] nobozo opened #671 "conjure-up openstack crash"
(Ubuntu 16.10, 256GB RAM, 2TB SSD, 32 cores)

I ran 'conjure-up openstack' which hit the "Running step: Glance" step and ran for a while. All of a sudden I got the stack trace below. I'm running 'top' in another window and it looks like the install is still going on. I've added a copy of what top shows below the stack trace.

Exception in ev.run():
Traceback (most recent call last):
  File "/usr/l

[2017-02-10 00:15] #615 closed

[2017-02-10 00:15] battlemidget commented on #656
Thanks!

[2017-02-10 00:15] #656 closed

[2017-02-10 00:16] battlemidget commented on #671
Your paths `/usr/lib/python3/dist-packages/` indicate that you aren't using the snapped version of conjure-up?

[2017-02-10 00:38] nobozo commented on #671
On 2/9/2017 4:16 PM, Adam Stokes wrote:

I'm following the instructions on

https://insights.ubuntu.com/2016/08/15/lunch-learn-with-openstack-containers/

which say to install conjure-up using

sudo apt install conjure-up

which I did. Is this the snapped version of conjure-up?
I see the instructions on your web page say to run

snap install conjure-up --classic --beta
If I do that, will that be a

[2017-02-10 01:52] battlemidget commented on #671
So we have a bug that we're going to be working on allowing you to run conjure-up against an existing deployment but that's not quite ready yet. So yes to answer your question you'll want to do:

[code]

We provide a newer version of juju in the snap.

That bug for the next deploy is https://github.com/conjure-up/conjure-up/issues/624

[2017-02-10 01:55] battlemidget commented on #463
This is addressed with our new naming scheme of conjure-up-<spell>, conjure-up-<cloud>, along with recently added ability to define your own model names.

[2017-02-10 01:55] #463 closed

[2017-02-10 01:57] battlemidget commented on #641
This is handled with https://github.com/conjure-up/conjure-up/commit/240393377d6d84acd7d8a74375217d2fae115185

[2017-02-10 01:57] #641 closed

[2017-02-10 03:53] nobozo commented on #671
Running conjure-down also results in a stack trace. This appears to happen right after deletion is finish.

$ conjure-down
Exception in ev.run():
Traceback (most recent call last):
  File "/snap/conjure-up/61/lib/python3.6/site-packages/ubuntui/ev.py", line 82, in run
    cls.loop.run()
  File "/snap/conjure-up/61/lib/python3.6/site-packages/urwid/main_loop.py", line 278, in run
    self._run()

[2017-02-10 03:57] nobozo commented on #671
Running the steps you suggested above resulted in

cat conjure-up.log
2017-02-09 19:55:51,871 [DEBUG] log.py:14 - conjure-up/openstack: Path is local filesystem, copying /snap/conjure-up/60/spells/openstack-novalxd to /home/jon.forrest/.cache/conjure-up/openstack-novalxd
2017-02-09 19:55:57,266 [DEBUG] log.py:14 - conjure-up/openstack: Running pre-deployment tasks.
2017-02-09 19:55:57,444 [ERROR]

[2017-02-10 04:41] battlemidget commented on #671
Can you provide the output of

[code]

[2017-02-10 04:47] nobozo commented on #671
$ juju controllers
Use --refresh flag with this command to see the latest information.

Controller  Model                             User   Access     Cloud/Region         Models  Machines    HA  Version
zebra*      conjure-up-openstack-novalxd-fd2  admin  superuser  localhost/localhost       2         1  none  2.1-beta5

Using --refresh gave the same output.

[2017-02-10 04:49] battlemidget commented on #671
Lets clean this out:

[code]

If there are any LXD containers still running lets remove those:

[code]

Make sure `which conjure-up` and `which juju` both point to `/snap/bin/conjure-up` and `/snap/bin/juju`.

From there re-run `conjure-up`

[2017-02-10 05:04] nobozo commented on #671
juju was wrong:

% which juju
/usr/bin/juju

That was a link to something. I removed /usr/bin/juju and now 'which juju' points to /snap/bin/juju. I ran 'conjure-up openstack' and things started off OK, but then the installer crashed. Looking at the log I see a bunch of

2017-02-09 21:01:46,038 [ERROR] log.py:23 - conjure-up/openstack: Showing dialog for exception:
Traceback (most recent call last)

[2017-02-10 13:54] battlemidget commented on #671
Ah, whats the output of `snap list`? We've made some changes with how we're relying on LXD and I think you may have both LXD's installed. Do the following:

[code]

I'm still running tests against the edge channel and this will help me identify any other oddities with the snap.

[2017-02-10 16:02] battlemidget opened #672 "document running localhost provided spells on remote systems"
Some users like to ssh into another machine and run spells such as openstack-novalxd and would like a way to access horizon from their main desktop. We need to document using sshuttle to accomplish this.

[2017-02-10 17:13] nobozo commented on #671
Now 'conjure-up openstack' hangs in the "Please select an existing controller" screen. I can't select the existing one ("conjure-up-localhost-db8") or move to "Create New".

[2017-02-10 17:20] battlemidget commented on #671
@nobozo i think we've just got stale data laying around from the previous deb installation. Do this:

[code]

[2017-02-10 18:08] nobozo commented on #671
Some good progress. Now all the applications are ready and active, except for  nova-compute/0, which says "Incomplete relations: messaging, image". It's been this way for at least 15 minutes. Running 'ps aux | fgrep python | wc -l' shows that there are 535 python processes running. Is that normal?

[2017-02-10 18:19] nobozo commented on #671
Good new! All the applications are now ready, but there are still 535 python processes.

One question - can I pause the Openstack environment so that none of it is running and then unpause it again?

[2017-02-10 19:33] battlemidget commented on #671
So there are roughly 15 LXD instances running on your system, you would have to pause all 15 manually using the `lxc` related commands and then either reboot your system to bring them all back up(they are set to autostart on boot) or manually start the containers again.

[2017-02-10 19:43] nobozo commented on #671
And more good news - I can connect to the dashboard. It's not real fast but this is a big accomplishment.
The one python process is still running, and there are 535 other python processes that don't appear to require any CPU time.

[2017-02-10 19:59] battlemidget commented on #671
Yea openstack is a huge python project with a ton of moving parts. I'm not sure if the low to none CPU usage is a cause of them being inside LXD containers and may be skewing that utilization a bit.

But glad you got it all up and running! Can we close this out?

[2017-02-10 20:39] battlemidget commented on #670
http://conjure-up.io/docs/en/users/#customize-deployment-names

[2017-02-10 20:39] #670 closed

[2017-02-10 20:55] nobozo commented on #671
I'm thinking of tearing down this install and then doing it again using the kvm option. I wonder if I'll hit the same problem with remnants of the previous install.

[2017-02-10 21:01] battlemidget commented on #671
Thanks, in the coming week I'm going to have additional OpenStack spells completed which will cover both KVM and LXD

[2017-02-10 21:01] #671 closed

[2017-02-10 21:08] rahworkx commented on #520
@chuckbutler, we just applied your work around and are now stuck at registering at the deis cluster  fqdn. Any suggestions for what to do?

[code]

[2017-02-10 21:15] #668 closed

[2017-02-10 22:52] chuckbutler commented on #520
This looks suspiciously like something didn't happen as we expected it to.

https://kubernetes.io/docs/getting-started-guides/ubuntu/troubleshooting/#common-problems

This should give you a good overview of how to "manually" fix the kubeconfig and get yo moving with helm charts on CDK. If this is not the case, i certianly need to move you out of this bug and into the bundle-canonical-kubernetes is

[2017-02-11 01:41] #508 closed

[2017-02-11 01:44] battlemidget commented on #500
Fixed now that spells are packaged with the snap

[2017-02-11 01:44] #500 closed

[2017-02-11 01:45] battlemidget commented on #498
This should  be fixed with the latest bootstrap handling code

[2017-02-11 01:45] #498 closed

[2017-02-11 23:02] unixfox opened #673 "Crash during the install of OpenStack with NovaLXD"
I tried to install Openstack with this guide: https://www.ubuntu.com/download/cloud/conjure-up
[code]
But it failed during the install with this error:
[code]
Here is a output of `juju controllers`:
[code]

[2017-02-12 00:07] battlemidget commented on #673
Hey @unixfox

Could you provide me with:

[code]

Thanks!

[2017-02-12 11:48] unixfox commented on #673
Thank you for the quick reply @battlemidget!
Here you are the output of each command that you want:
[code]

[2017-02-12 15:33] battlemidget commented on #673
So if you look at `juju status` it looks like the deployment finished successfully but maybe the last step failed to complete which mainly gives you the IP of the horizon dashboard.

Looking at `juju status` and finding `openstack-dashboard` should give you the IP to connect via web browser. I'm still digging into the step to see what may be happening.

[2017-02-12 15:58] unixfox commented on #673
I tried to execute `juju status` but it failed (timeout) with this error:
[code]

[2017-02-12 16:04] battlemidget commented on #673
Hmm, what is the output of `lxc list`?

[2017-02-12 16:06] unixfox commented on #673
[code]

[2017-02-12 16:09] battlemidget commented on #673
Ok so it looks like the deployment didn't add all the applications required. Let's do this:

[code]

Make sure then `lxc list` is empty, if it is not then you'll want to force delete those containers:

[code]

Also clear `rm -rf ~/.local/share/juju`.

Once done, re-run `conjure-up` and see if that helps.

[2017-02-12 16:18] unixfox commented on #673
[code]
Was incorrect so I tried with:
[code]
[code]

I retried `conjure-up` but it failed with the same error:
[code]

PS: I wanted to note that after choosing `OpenStack with NovaLXD`, I don't configure the applications, I go ahead and choose `Deploy all 15 remaining applications`:
![selection_110](https://cloud.githubusercontent.com/assets/4016501/22863788/bde436d4-f146-11e6-8be3-03f3696c7d71.pn

[2017-02-12 16:21] battlemidget commented on #673
Huh the previous command had the different controller, what's the output of `juju controllers` now?

[2017-02-12 16:26] unixfox commented on #673
[code]

[2017-02-12 16:52] battlemidget commented on #673
What happens if you run:

[code]

Does a `juju status` succeed after that?

[2017-02-12 16:52] battlemidget commented on #673
Also what kind of hardware are you running this on? In a VM?

[2017-02-12 16:57] unixfox commented on #673
I'm so stupid, I just realized that I'm running on out of disk space.
I'll close the issue and if I've another problem I'll reopen this issue.

[2017-02-12 16:57] #673 closed

[2017-02-12 17:02] battlemidget commented on #673
@unixfox ah! you want to follow this issue https://github.com/conjure-up/conjure-up/issues/586

It's a known problem and we'll get it addressed

[2017-02-14 07:28] cr0n-dist0rti0n commented on #574
Sorry to post on a closed bug but I am getting the exact same error as above. In addition here is my "[conjure-up.log](https://dl.dropboxusercontent.com/u/25245714/conjure-up.log)". I have:

sudo apt-add-repository ppa:juju/stable
sudo apt-add-repository ppa:conjure-up/next
sudo apt update
sudo apt install conjure-up

So I'm assuming everything should be up to date. Is there a fix for this? Sugges

[2017-02-14 10:34] battlemidget commented on #574
You'll want to use the snap version, see http://conjure-up.io for details

[2017-02-14 11:13] mjs opened #674 "Failed to run pre deploy task: Expecting value: line 1 column 1"
This is xenial machine with conjure-up only installed via the edge snap. The only installed juju is the one that comes with the conjure-up snap.

[code]

When I attempt to deploy kubernetes-core this happens:

[code]

Here's the logs (the cache directory was removed before this attempt so the logs are only for what just happened):

[code]

[code]

[code]

The controller is created, as is a model f

[2017-02-14 12:13] battlemidget commented on #674
This looks like you're running on lxd2.8, what version of the os? Xenial?

[2017-02-14 12:14] battlemidget commented on #674
Reference https://github.com/conjure-up/conjure-up/issues/563

[2017-02-14 12:15] battlemidget commented on #674
Nm I see xenial in juju version string

[2017-02-14 12:59] battlemidget commented on #674
Also do you have the deb package of lxd/lxd-client installed as well? This may be another $PATH issue I haven't spotted

[2017-02-14 13:20] battlemidget commented on #674
I was able to reproduce with our tests:

[code]
This is currently happening with both deb lxd and snap lxd installed. Ill see what happens if i remove the deb version

[2017-02-14 13:33] jameinel opened #675 "failed to use 'lxd' for conjure-up"
conjure-up/kubernetes-core: [ERROR] conjure-up/kubernetes-core: Showing dialog for exception:
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/conjureup/controllers/newcloud/gui.py", line 171, in render
    creds = Schema[app.current_cloud]
KeyError: 'lxd'

While trying to investigate:
https://github.com/conjure-up/conjure-up/issues/674
or
https://bugs.launchpad.net/juju/+

[2017-02-14 13:40] battlemidget commented on #675
@jameinel Thanks John, this is a dupe of https://github.com/conjure-up/conjure-up/issues/576 which is high on my priority list to get done.

[2017-02-14 13:43] battlemidget commented on #675
If you want to create a new cloud and use the snap from

[code]

This is using juju 2.0.3 which shows the expected behavior

[2017-02-14 13:45] battlemidget commented on #675
FYI this is the schema we use for that https://github.com/conjure-up/conjure-up/blob/master/conjureup/models/provider.py

We'll need to account for those creating their own custom clouds

[2017-02-14 16:10] #674 closed

[2017-02-14 16:54] luislobo commented on #652
@battlemidget @AdamIsrael

I'm having the same issue, what do you mean by upgraded to the `core`? and what symlinks did you clean up?

[2017-02-14 17:13] battlemidget commented on #652
You'll want to upgrade `snapd` in order for `ubuntu-core` to be migrated to `core` as seen in your `snap list`

[2017-02-14 20:24] mjs commented on #674
Thanks for looking into this so quickly.

FWIW, I can confirm that I don't have the lxd snap installed (deb only). The machine is indeed running xenial (as per `lsb_release -a` output at the top of the issue).

[2017-02-14 20:47] battlemidget commented on #674
Thanks, I also have another fix coming that'll smooth out the issues when both LXD's are installed. Do you know by chance if Juju can connect to lxd's socket that isn't listening on port 8443 (the default?)

[2017-02-14 21:15] mjs commented on #674
I've just played with this for a bit and I don't see a way to tell Juju to connect to an alternate LXD port. The `endpoint` field in a Juju lxd cloud's config let's you specify the address of the lxd daemon but you can't add a port there.

[2017-02-14 21:33] mjs commented on #674
I can confirm that once I removed the deb lxd and reconfigured lxd with the snap version, conjure-up is working again. Thanks for your help.

[2017-02-14 21:57] mikemccracken opened #676 "headless conjure-up kubernetes-core fails, while GUI does work"
root cause appears to be nested lxd containers,
but the GUI version does not nest the containers.

likely a difference in the paths used wrt the placement code

[2017-02-15 07:35] jameinel commented on #676
https://bugs.launchpad.net/juju/+bug/1664409

should be addressed in the next Juju 2.1rc2 release.

[2017-02-15 09:19] battlemidget commented on #676
\o/

[2017-02-15 11:50] #676 closed

[2017-02-15 19:38] mikemccracken opened #679 "machine ids in architect view are ordered alphabetically"
instead of numeric

[2017-02-15 19:43] battlemidget opened #680 "re-add unit editor in configure screen"

[2017-02-15 20:17] mikemccracken commented on #680
I changed the title because the right way to fix this is to allow adding units in the arch screen. having to go to a different screen for adding units is confusing and has been pointed out to us as something we need to fix.

[2017-02-15 20:23] mikemccracken commented on #680
One straightforward possibility is to just have basically the same widget that was in the options screen be in the architect screen instead. they share the same controller object.

There would be some work involved in app_architecture_view.py and juju_machines_list.py to handle having the num_units change while they are alive, e.g. apparchview uses it to construct the "choose where to place N unit

[2017-02-15 22:58] mikemccracken commented on #680
@battlemidget having said the above, I wouldn't complain if you decided to just revert the commit that removed it for now, and scheduled this for later...

[2017-02-15 23:25] battlemidget commented on #680
@mikemccracken ok good i was hoping you'd say that :)

[2017-02-16 10:55] tytus-kurek opened #683 "Exception: Could not determine LXD version."
There is a problem with running conjure-up command:

ubuntu@maas:~$ /snap/bin/conjure-up
Traceback (most recent call last):
  File "/snap/conjure-up/66/bin/conjure-up", line 11, in <module>
    sys.exit(main())
  File "/snap/conjure-up/66/lib/python3.6/site-packages/conjureup/app.py", line 207, in main
    utils.lxd_version(),
  File "/snap/conjure-up/66/lib/python3.6/site-packages/conjureup/utils

[2017-02-16 11:53] battlemidget commented on #683
What does `which lxd` show? Also there is a newer version of conjure-up. Run

[code]

You also want to make sure that you have LXD installed

[code]

[2017-02-16 11:54] battlemidget commented on #683
Nah helps if I read the full issue, try upgrading conjure-up as seen above. I've made additional fixes related to LXD since then

[2017-02-16 13:03] battlemidget commented on #563
Fixed with https://github.com/conjure-up/conjure-up/commit/1426def718fabc64ed52f5a37cad4515225bc56b

[2017-02-16 13:03] #563 closed

[2017-02-16 13:20] #672 closed

[2017-02-16 13:25] tytus-kurek commented on #683
Refreshing the snap helps to get rid of the LXD issue.

However, after refreshing the snap, the conjure-up exits with status 1 and
no error message.

Unfortunately, I will no longer have an access to this environment.

Tytus Kurek | Cloud Consultant | Canonical Ltd.

tytus.kurek@canonical.com | +48 790 207 297 | www.canonical.com

On Thu, Feb 16, 2017 at 12:54 PM, Adam Stokes <notifications@github

[2017-02-16 15:02] battlemidget opened #684 "snap: fix network create on trusty"
Issue where networks aren't being created, probably shell syntax failure on my part.

[2017-02-16 15:03] battlemidget opened #685 "snap: persists network/iptables configuration on reboot"
Trusty is done via `lxc network create`. Xenial with the debian package of lxd installed will need a systemd service to ensure they start.

[2017-02-16 17:00] #684 closed

[2017-02-16 19:29] battlemidget opened #686 "better error feedback on user input screens"
This has come up some with enter credentials for the maas server, but we should have better user feedback on invalid entries

[2017-02-16 21:24] #685 closed

[2017-02-16 23:26] samantha-jian opened #687 "Conjure Up failed on post-processing openstack-base"
We are deploying OpenStack cluster with latest conjure-up and having some issues.  It can successfully deploy charms (Openstack) but always failed on post-processing. Attached are screenshots which showed error messages.

#juju --version

2.0.3-xenial-amd64

#conjure-up --version

conjure-up 2.1.0

#maas 20-root version read
Success.
Machine-readable output follows:
{"capabilities": ["networks-man

[2017-02-16 23:51] battlemidget commented on #687
Thanks for the report, I'll get this addressed asap!

[2017-02-17 08:20] gaetanquentin opened #688 "LXD openstack: installation failure"
Host: Ubuntu 16.10 updated
lxd 2.8 / 2.0.6

Using this procedure: https://stgraber.org/2016/10/26/lxd-2-0-lxd-and-openstack-1112/

 lxd containers are deployed immediatly (less than 2 seconds each …) in fact not depoyed at all as you can imagine: it shows immediatly the ‘additional application configuration’ screen.

I think i have something rotten on my host but i can’t find what it is.

in opens

[2017-02-17 08:59] gaetanquentin opened #689 "snap install conjure-up --classic --stable fails in lxd privileged container"
since conjure-up ubuntu package (16.04) has been replaced by snaps, i cannot install anymore conjure-up in a lxd container:

snap install conjure-up --classic --stable
output:
error: cannot perform the following tasks:
- Mount snap "core" (1079) ([start snap-core-1079.mount] failed with exit status 1: Job for snap-core-1079.mount failed. See "systemctl status snap-core-1079.mount" and "journalctl

[2017-02-17 11:24] battlemidget commented on #688
This is inside a container as well?

[2017-02-17 12:34] gaetanquentin commented on #688
yes. as indicated in this blog: https://stgraber.org/2016/10/26/lxd-2-0-lxd-and-openstack-1112/

[2017-02-17 12:49] battlemidget commented on #688
Try installing `squashfuse` and see if that helps. If it does we can close out your other bug as well.

[2017-02-17 12:54] gaetanquentin commented on #688
in the first container "openstack"?

[2017-02-17 12:55] battlemidget commented on #688
yea in the initial container you created to run conjure-up insside

[2017-02-17 12:56] gaetanquentin commented on #688
lxc exec openstack bash
root@openstack:~# apt install squashfuse
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  squashfuse
0 upgraded, 1 newly installed, 0 to remove and 0 not upgraded.
Need to get 17.4 kB of archives.
After this operation, 54.3 kB of additional disk space will be used.
Get:1 http://archive.u

[2017-02-17 13:43] battlemidget commented on #688
Hmm yea that is a problem, my best advice at this point in time is to either switch to a VM or do this directly on the host machine (they deploy to all containers). Also I would open a bug over at https://github.com/lxc/lxd/issues/new and get those guys to weigh in on our possibilities for this to work with snaps inside containers

[2017-02-17 13:44] battlemidget commented on #689
Dupe of https://github.com/conjure-up/conjure-up/issues/688

[2017-02-17 13:44] #689 closed

[2017-02-17 14:26] #687 closed

[2017-02-17 15:59] mbruzek opened #690 "kubenetes core spell failed on localhost (LXD)"
Host: Ubuntu 16.10 (yakkety)
Install method: snap
[code]

I tried to conjure-up the kubernetes-core this morning on my laptop. I got an error on the deployment step after bootstrap. The error was a full python stack trace, but it was eventually overwritten with deployment progress and then red text came up to indicate an error.
![conjure-up_error](https://cloud.githubusercontent.com/assets/6385185

[2017-02-17 16:38] #690 closed

[2017-02-17 17:07] samantha-jian commented on #687
When can I update conjure-up to get the fix?

[2017-02-17 17:21] battlemidget commented on #687
Feel free to try now `sudo snap refresh conjure-up --stable`

[2017-02-18 11:43] raesene opened #691 "Snap based installation fails"
Trying to use the new snap based installation method to install conjure-up and I'm running into a problem with the install process

**output of uname -a**
`Linux xFoxy 4.4.0-62-generic #83-Ubuntu SMP Wed Jan 18 14:10:15 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

**Snap version**
`snap    2.22.2
snapd   2.22.3
series  16
ubuntu  16.04
`

**command run (I've tried this with and without `--beta`)**
`s

[2017-02-18 12:18] battlemidget commented on #691
Thank you for the bug report. Can you do the following for me:

[code]

This looks like an issue with the actual snap version of LXD and I need to get with those guys and see what may be going on.

If this works for you I'll update the askubuntu question as well.

[2017-02-18 12:27] raesene commented on #691
Yep that worked fine for me, so that looks to be the problem. Thanks!

[2017-02-18 12:27] #691 closed

[2017-02-18 13:09] battlemidget commented on #691
Glad to hear, I updated that question as well and will sync up with the LXD guys on Monday.

[2017-02-20 20:33] raesene opened #692 "Kubectl exec/attach don't work on localhost deploy of the Canonical Distribution of Kubernetes"
After completing a `conjure-up` for the canonical distribution of Kubernetes with a localhost target, running `kubectl exec [POD] -c [CONTAINER] [COMMAND]` or trying to use `kubectl attach` to get an interactive shell on a running container return an error

`Error from server (BadRequest): Upgrade request required`

A bit of googling seems to suggest a problem either with the client or if there's

[2017-02-20 20:39] battlemidget commented on #692
So we automatically download kubectl to your host system for you in `$HOME/bin/kubectl`. It is probably suffixed with what is called a **juju model**. You can see your deployed models by typing `juju models` or viewing the `result.txt` file inside `~/.cache/conjure-up/canonical-kubernetes/results.txt`

[2017-02-20 20:44] raesene commented on #692
yep I've got `kubectl` with the suffix working just fine for commands like `get pods` and the like but `exec` and `attach` don't work.

[2017-02-20 20:52] battlemidget commented on #692
OK thanks most people are off today in the US but I'll see if we can get one of the kubernetes guys on here.

[2017-02-21 02:32] battlemidget commented on #692
@chuckbutler have you seen this before?

[2017-02-21 18:08] eric-sonchaiwanich opened #693 "Error deploying to AWS when default region changed - conjure-up does not form correct bootstrap command when juju default aws region set"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [N] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems
- [N] Is conjure-up running inside a virtual machine?

Please outline the hardware you're running conjure-up on:  Thinkpad X1 carbon, Ubuntu 16.10

Please outline what commands were r

[2017-02-21 18:35] battlemidget commented on #693
Thank you we will get this fixed asap

[2017-02-21 19:56] battlemidget commented on #693
So I attempted to reproduce this but was unable to:

[code]

My credentials file:

[code]

And my bootstrap line:

[code]

I feel like I may be missing a step though so please help me out to try and reproduce this as I want to make sure this works ootb for you.

[2017-02-21 20:22] eric-sonchaiwanich commented on #693
$ sudo snap remove conjure-up
...
$ sudo snap install conjure-up --classic
conjure-up 2.1.0 from 'canonical' installed
$ which conjure-up
/snap/bin/conjure-up
$ which juju
/snap/bin/juju
$ juju --version
Since Juju 2 is being run for the first time, downloading latest cloud information.
Fetching latest public cloud list...
Your list of public clouds is up to date, see `juju clouds`.
2.1.0-yakkety-

[2017-02-21 20:38] eric-sonchaiwanich commented on #693
I don't see a missing step.  How can we verify we're running the same version of software?

Here are the steps I took to clean up my environment:

[code]

Here are the steps I took to re-install conjure-up

[code]

More details about my environment:
[code]

Steps to configure juju with credentials and default region
[code]
Note that if I list the clouds, the default region shows us-east-1 (not us-

[2017-02-21 20:48] chuckbutler commented on #692
I have, the upgrade-request is with regard to the Nginx proxy. I'm cycling either this week or next on getting a haproxy layer4 based router to replace the layer7 nginx router. I'm sorry you hit this, it's a known issue, and will be a problem until the replacement is completed.

A potential workaround until such time is to either update the kubectl with the IP address of a master and expose it dir

[2017-02-21 20:50] battlemidget commented on #692
thanks @chuckbutler , @raesene we're working on it thanks for reporting this!

[2017-02-22 04:52] battlemidget commented on #617
This should be addressed with latest conjure-up, if you ever get a chance to retry with the instructions from http://conjure-up.io

[2017-02-22 04:52] #617 closed

[2017-02-22 17:22] raesene commented on #692
@chuckbutler cool, thanks for the workarounds.

[2017-02-22 19:47] gaetanquentin opened #694 "unable to run conjure-up inside a parent lxd container"
Installing openstack on lxd with this procedure updated some hours ago: https://stgraber.org/2016/10/26/lxd-2-0-lxd-and-openstack-1112/

The installation process is stuck on the screen "waiting for machine". In fact it does nothing.

Looking at main  lxd container and first juju controler  container i can see that:
 - the juju controler container bridge lxdbr0  has no ipv4
lxdbr0    Link encap:Eth

[2017-02-22 20:16] battlemidget commented on #694
Youre running all this inside a single container?

[2017-02-22 20:50] gaetanquentin commented on #694
yes as described on the link  https://stgraber.org/2016/10/26/lxd-2-0-lxd-and-openstack-1112.

[2017-02-22 20:52] battlemidget commented on #694
Ok, this isn't something we normally do in our testing but I will give it a go and see what happens.

[2017-02-22 20:53] battlemidget commented on #688
This is superseded by #694

[2017-02-22 20:53] #688 closed

[2017-02-22 21:01] marcoceppi opened #695 "Setting lxd profile fails"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [X] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems
- [X] Is conjure-up running inside a virtual machine?

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space av

[2017-02-22 21:17] marcoceppi opened #696 "Feature: Support manual provider"
Add manual provider for creating custom deployments request from: @tuanloc2503

[2017-02-22 21:20] battlemidget commented on #695
One of the latest coming out of LXD 2.9 (may be 2.8 as well) is we need to set the pool property in our configs: https://github.com/conjure-up/spells/blob/master/canonical-kubernetes/steps/lxd-profile.yaml#L22

This is done with the latest --edge release of conjure-up and is still going through testing with positive results.

If they want, feel free to try the one from the edge channel to see if t

[2017-02-23 04:12] #507 closed

[2017-02-23 04:14] battlemidget opened #697 "migrate to libjuju"
Migrate to using libjuju for all juju interactions.

[2017-02-23 04:14] battlemidget commented on #697
@johnsca

[2017-02-23 22:12] samantha-jian opened #698 "Support tag feature for MAAS cloud"
conjure-up 2.1.0 supports the specification of machine constraints (cores, memory, storage). It would be great to support the tag as well for MAAS cloud.

[2017-02-24 04:18] ztroop opened #699 "Kubernetes Default Credentials"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [N] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems
- [Y] Is conjure-up running inside a virtual machine?

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space av

[2017-02-24 04:19] ztroop commented on #699
I should also mention, I tried accessing this local instance from another host in the network. Using NGINX on the host as a proxy.

[2017-02-24 16:17] battlemidget commented on #699
You should only need to do:

[code]

Also if you ssh into a system to run conjure-up you'll want to look at http://conjure-up.io/docs/en/users/#running-conjure-up-remotely as well.

[2017-02-26 19:00] gaetanquentin opened #701 "lxd openstack - is there a way to have custom names or more related names for containers?"
I have installed openstack with lxd/nova.

Works fine but : lxd containers names are like juju-xxx which is not easy to recognize .

Could them be more functional  name like ' neutron-xx" etc?

Can we rename containers?

[2017-02-26 19:28] jamesbeedy opened #702 "conjure-up cannot find charms not exposed by charmstore api"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [ ] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems
- [ ] Is conjure-up running inside a virtual machine?

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space av

[2017-02-27 00:52] battlemidget commented on #701
Juju controls the naming of those containers and there isn't a way to customize that naming scheme. My suggestion would be to file a bug at https://bugs.launchpad.net/juju.

Thanks

[2017-02-27 00:52] #701 closed

[2017-02-27 01:00] ztroop commented on #699
Okay, after running `kubctl.conjure-up-kubernetes-core-XXX proxy`.
I ran `sshuttle -r xxx@X.X.X.X 10.0.8.1/24` on my localhost and connected to the remote host without issue.

So, confirming the information with the cluster info:
[code]

So with my local host, connected to the remote server running the kubernetes instance. I went to browse to any of the URLs mentioned above. I am prompted for a us

[2017-02-27 01:05] battlemidget commented on #699
Thanks, @chuckbutler any idea about this?

[2017-02-28 13:30] battlemidget commented on #686
The input items should do simple validation and post an error to the user similar to how web forms with requirements work

[2017-02-28 13:47] niks3089 opened #703 "Unable to install openstack with nova LXD on Ubuntu 16.04. Error stating IpV6 enabled even though disabled"
I am trying to install openstack on Ubunbtu 16.04 (Not a VM)

Hardware: x86_64, 4 core, 8gb RAM

Spell: Openstack with NovaLXD
Cloud provider: localhost
To install and execute conjure-up: sudo snap install conjure-up --classic --beta && conjure-up

 **2018-02-28 18:51:53,085 [DEBUG] log.py:14 - conjure-up/_unspecified_spell: LXD version: 2.8, Juju version: 2.1.0-xenial-amd64
2017-02-28 18:52:36,74

[2017-02-28 17:07] niks3089 commented on #703
Done. Still issue persists.

[2017-02-28 17:19] niks3089 commented on #703
Doing the following helped. Looks like 2 versions of lxd was installed.

snap list showed LXD was installed.
Removed it with

[2017-02-28 17:19] #703 closed

[2017-02-28 22:35] kkinkouu opened #704 "Error deploying: cannot add application "ceph-osd": DB is locked | conjure-up setup"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [ ] Is this problem already documented at http://conjure
up.io/docs/en/users/#_common_spell_problems <it may be associated to the following bug: https://bugs.launchpad.net/fuel/+bug/1474510>
- [ ] Is conjure-up running inside a virtual machine? <yes - VBox - 5.0.32_Gentoo r112930>

P

[2017-02-28 22:53] kkinkouu commented on #704
Apologies VM Specs:
< ~ $ ssh -p 2424 stack@127.0.0.1
stack@127.0.0.1's password:
Welcome to Ubuntu 16.04.2 LTS (GNU/Linux 4.4.0-64-generic x86_64)

 * Documentation:  https://help.ubuntu.com
 * Management:     https://landscape.canonical.com
 * Support:        https://ubuntu.com/advantage

4 packages can be updated.
0 updates are security updates.

Last login: Tue Feb 28 21:47:39 2017 from 10.10.

[2017-02-28 23:20] kkinkouu commented on #704
please ignore this post, this is clearly a resource problem

[2017-03-01 04:46] niks3089 commented on #526
I am also seeing the same issue on Ubuntu 16.04 even after trying the above.

Logs below:

[code]

[2017-03-01 12:55] battlemidget commented on #526
Ah thanks for that log, it looks like we need to revisit how we are waiting for applications to settle and detect when the deploys are done.

[2017-03-01 12:56] battlemidget commented on #704
@kkinkouu thank you for trying conjure-up, feel free to re-open if you find that the problem persists even after allocating additional resources

[2017-03-01 12:56] #704 closed

[2017-03-01 13:02] battlemidget commented on #526
@niks3089 are you also running this inside a container?

[2017-03-01 13:03] kkinkouu commented on #704
@battlemidget - Your welcome, will post any problems i run into while testing conjure-up. looks like i need get the w530/w540 (32GB RAM) for testing. looks like the w510 cannot cut it :-)

[2017-03-01 13:04] battlemidget commented on #576
Info from #675

[code]

[2017-03-01 13:04] battlemidget commented on #675
Going to close this since a bug already exists on this problem

[2017-03-01 13:04] #675 closed

[2017-03-01 13:05] keithkk opened #705 "Typo in Manual Docs"
http://conjure-up.io/docs/en/users/#advanced-usage

The 2 is missing for the IP address 172.16.0.5 in this section on the $ line:

The subnet of localhost is going to be what conjure-up configured the network bridge for. By default this is set to 10.0.8.1/24. Lets also say the remote host’s ip is 172.16.0.5 so you’ll want to do the following

$ sshuttle -r 17.16.0.5 10.0.8.1/24
[local sudo] Passwo

[2017-03-01 13:08] battlemidget commented on #705
@keithkk Thanks! I'll get this doc push asap

[2017-03-01 13:10] battlemidget commented on #705
Docs sync up every hour and this is in the queue, thanks again!

[2017-03-01 13:10] #705 closed

[2017-03-01 13:11] battlemidget commented on #704
Yea I have a w520 and it can't handle a full deploy either. I find the Intel NUCS with at least 16G ram work very well for testing

[2017-03-01 14:14] niks3089 commented on #526
Nope, running on x86 with Ubuntu.

[2017-03-01 14:34] battlemidget commented on #526
@niks3089 whats your hardware specs? RAM, CPU, etc.

[2017-03-01 16:40] castrojo opened #706 "snap won't install due to lxd-service failing to start"
I get this when trying to install the snap:

[code]

[2017-03-01 16:45] niks3089 commented on #526
My machine has slowed down drastically after trying to install openstack. I thought the hardware was sufficient.

[code]
8GB RAM, Quad-core.
Disc usage:

[code]

[2017-03-01 16:46] battlemidget commented on #526
Your problem is resources, please see here for more info: http://conjure-up.io/docs/en/users/#hardware-requirements

Closing this as not reproducable as the problem seems to be related to not meeting the requirements.

[2017-03-01 16:46] #526 closed

[2017-03-01 16:47] battlemidget commented on #706
Whats the output from `journalctl -xe`? If you manually `apt-get install lxd lxd-client` it'll fail the same way so we need to figure out whats going on with your lxd setup

[2017-03-01 16:53] niks3089 commented on #526
Thanks!
I can change the swap space to 32G and even though I don't have SSD, I can use 250G Harddisk. RAM however RAM is going to a problem as I need 16G. Is there a way to deploy with only 8G?

[2017-03-01 17:32] castrojo commented on #706
Found it, nonstandard NIC setup, thanks!

[2017-03-01 17:32] #706 closed

[2017-03-01 18:14] battlemidget commented on #526
Unfortunately not, the amount of services running require at least 16, you may can get away with 12g but definitely not 8

[2017-03-01 19:09] a1503052 opened #707 ""LookupError: Unable to list models: error: No controllers registered.""
Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space available:
Number of CPUs: 2 (total of 8 cores)
Amout of memory: 16GB
Storage Space: Little less 1Tb

What spell was selected?:
conjure-up openstack

What cloud provider was selected (this includes both MAAS and localhost)?:
localhost

Please outline what commands were run

[2017-03-01 19:12] battlemidget commented on #707
Whats the output of:

[code]

Seems like lxd isn't activated, if you do a `sudo systemctl restart lxd` and attempt to `telnet localhost 8443` does that work? If so, after the service restart, retry the conjure-up install

[2017-03-01 23:00] battlemidget opened #708 "Support juju login for JAAS support"
In order to connect to upcoming JAAS we need to investigate integrating macaroon support in conjure-up and/or libjuju.

[2017-03-01 23:38] jamesbeedy commented on #708
there is an issue started [here](https://github.com/juju/python-libjuju/issues/50)

[2017-03-02 01:56] battlemidget commented on #708
@jamesbeedy perfect thanks james, we've got a sprint next week and I hope to have this sorted then.

[2017-03-02 17:16] a1503052 commented on #707
Hello,
Thank you! This seemed to work! My lxc was offiline and my firewall was blocking the traffic from port 8443

[2017-03-02 17:16] #707 closed

[2017-03-02 22:02] battlemidget commented on #697
Cory's work to libjuju:

ref: https://github.com/juju/python-libjuju/pull/63

[2017-03-03 14:30] #550 closed

[2017-03-03 14:33] battlemidget commented on #695
I believe this is resolved now with the latest conjure-up having the additional storage pool setting in its lxd profile updates.

[2017-03-03 14:33] #695 closed

[2017-03-03 20:37] battlemidget opened #709 "support conjure-up on vmware/vsphere"
This is conjure-up against vsphere provider similar to maas

[2017-03-04 11:06] geewerx opened #711 "Openstack spell fails on next steps"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [ No ] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems
- [ Yes ] Is conjure-up running inside a virtual machine?

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage s

[2017-03-04 11:09] geewerx commented on #711
[conjureup-log.txt](https://github.com/conjure-up/conjure-up/files/818573/conjureup-log.txt)

[2017-03-04 12:14] battlemidget commented on #711
When I'm back in the office on Monday I'll take a look at this

[2017-03-04 16:42] geewerx commented on #504
Setting the sphere configuration to Promiscuous mode worked for me as suggested by @jsenecal

[2017-03-04 18:05] battlemidget commented on #504
Great! I'm going to document this in our documentation, could one of you provide me with some screenshots or a quick step by step so I can make sure to get it up quickly?

[2017-03-04 18:05] battlemidget commented on #504
Will mark this document tag when I get home ina few

[2017-03-04 21:30] ztroop commented on #699
Any update on this? If there's anything you would like me to try, I'll do my best to deliver.

[2017-03-04 22:27] battlemidget commented on #699
I'm meeting with those developers next week and I'll talk to them about this particular issue.

Sorry for the delay

[2017-03-04 22:28] battlemidget commented on #699
Also 1.5.3 was just released yesterday, not sure if you want to give that a try while you wait

[2017-03-04 22:48] battlemidget commented on #711
Fixed with https://github.com/conjure-up/conjure-up/issues/504

[2017-03-04 22:51] battlemidget commented on #504
@jsenecal @geewerx Can you guys provide me with some screenshots of the vsphere configuration screens and/or a quick step by step so I can get those added to the documentation?

Thanks!

[2017-03-05 14:06] geewerx commented on #711
Not sure if you are saying this was fixed by or just along with #504. For the avoidance of doubt, I believe #504 was unrelated to this (other than the fact that it was being run on vmware vm's), that was just the blocker I experienced before reaching this issue.

[2017-03-05 14:37] battlemidget commented on #711
ah ok

[2017-03-05 23:13] ztroop commented on #699
I gave it another try, ended up with the same result. Let me know how the meeting goes, and if there's anything else you or your team would like me to try. Thanks!

[2017-03-06 17:02] mbruzek opened #712 "Exception calling callback for <Future at 0x7f4fd00db080 state=finished returned NoneType>"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [ ] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems
- [] Is conjure-up running inside a virtual machine?

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space ava

[2017-03-06 17:12] battlemidget commented on #712
I believe this is an issue with running lxd 2.8 which doesn't support a new storage pool option in lxd 2.9 and above. So probably better to do a better job at making sure the user is on the proper lxd and a better error message directing that user.

[2017-03-06 17:36] battlemidget commented on #699
I've talked with the team and there doesn't seem to be any reason why you are prompted for a username/password for your deployment. One thing they asked to look at is to grab a https://github.com/juju/juju-crashdump from your running deployment so we can investigate and see if any differences stand out.

Additionally, could you provide us with additional information about how your infrastructure i

[2017-03-06 18:28] battlemidget commented on #504
Documented here: http://conjure-up.io/docs/en/users/#_deployment_gets_part_way_through_and_seems_to_hang_under_vsphere

Thanks all

[2017-03-06 18:28] #504 closed

[2017-03-06 20:00] battlemidget opened #714 "rework logging wording for tracking exceptions"
We want to consolidate tracebacks for script running errors.
Those exception messages currently include the full path of the failed script, so we get hundreds of distinct exceptions that are actually the same exception.
can do this by removing the `$USER/.cache` string.

[2017-03-07 17:02] #576 closed

[2017-03-07 19:25] #712 closed

[2017-03-07 19:27] battlemidget opened #715 "support bootstrap to a region for public cloud in gui mode"
Allow selecting region in gui mode if applicable. This will require some additional UI widgets to allow a user to select from a list of regions, preferably showing up to the right of the cloud list and be specific to whatever cloud is highlighted.

[2017-03-07 21:24] #511 closed

[2017-03-07 21:46] #693 closed

[2017-03-07 22:14] mbruzek opened #716 "conjure-down"
- [ ] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems - No
- [ ] Is conjure-up running inside a virtual machine? - No

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space available: 4 CPU 16GB RAM ~400GB available space.

What spell was selected?: canonical-kubernetes

What cl

[2017-03-07 22:27] battlemidget commented on #716
ah.. this is an issue with the configure hook in the snap install, lemme get a fix out

[2017-03-07 22:47] mbruzek commented on #716
@battlemidget this error left the localhost controller running on my system. I am unable to destroy it using juju commands:

[code]

Please advise. Should I run this command with root?

[2017-03-07 22:48] battlemidget commented on #716
Try with just `juju kill-controller conjure-up-localhost-763`

[2017-03-07 22:49] battlemidget commented on #716
Working on a fix for the first issue now

[2017-03-07 22:50] mbruzek commented on #716
kill-controller does not work either:
[code]

[2017-03-07 22:58] battlemidget commented on #716
You may have to delete the containers via `lxc delete`, sorry about that and thanks for finding this error :D

[2017-03-08 00:16] battlemidget commented on #716
Ok, if you haven't gone through and deleted your containers I found where that certificate error was coming from.

In your `~/.local/share/juju/credentials.yaml` there is now a certificate craeted for 'localhost' or any type of cloud with the 'lxd' type. You'll want to remove those stanzas and then you should be able to remove those controllers like normal.

[2017-03-08 04:51] jay-vosburgh opened #717 "conjure-up shared libraries leaking out to system ldconfig"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [ ] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems

No

- [ ] Is conjure-up running inside a virtual machine?

No

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage

[2017-03-08 05:23] battlemidget commented on #717
It's not an issue with snaps, it is with conjure-up. It was a quick fix to address some of the issues I am seeing with snapped conjure-up failing to load correct libraries because of the way pure python3 applications are snapped in a classic environment.

I need to find a better alternative to this, thanks for reporting

[2017-03-08 05:27] battlemidget commented on #717
I think I'll need to just edit my wrappers to update it's LD_LIBRARY_PATH at runtime.

[2017-03-08 11:40] dpb1 opened #718 "Snap conjure-up fails to start"
Conjure up fails to start on xenial with snaps:

[code]

Looks like it's depending on a library not in the snap

[2017-03-08 11:43] dpb1 opened #719 "Snap install conjure-up doesn't work if juju is installed"
[code]

[2017-03-08 14:40] battlemidget commented on #719
This is expected as we own the juju alias and that command will conflict with the juju snap. Since you get juju when installing conjure-up this was decided as the best course.

[2017-03-08 15:09] #717 closed

[2017-03-08 15:11] battlemidget commented on #714
Fixed in https://github.com/conjure-up/conjure-up/commit/473be2b48160e46d79aadc9143662c4508403f2c

[2017-03-08 15:12] #714 closed

[2017-03-08 17:32] mikemccracken opened #720 "maas pinning can be done with To specs in add-machine"
Currently we use maas tags to pin juju machines to maas machines.
We create a maas tag with the maas instance ID, then use a constraint with tags=instance_id.

This was partially due to previous versions being bundle-based, and bundles don't support "to directives" with maas names.

See the code here: https://github.com/conjure-up/conjure-up/blob/master/conjureup/controllers/deploy/gui.py#L277

Ho

[2017-03-08 20:03] battlemidget commented on #708
We'll be utilizing `juju login` and some UI view flows to guide a user through authenticating to JAAS. This will be done via subprocess call to juju login as the python version of macaroons does not support the httpbakery spec or enough of it to utilize the juju api for logging in.

[2017-03-08 23:15] mitechie opened #721 "add uuids to analytics"
per title, it'd be good to see how many unique models in the analytics with an anonymized source like model uuids.

[2017-03-09 20:30] mbruzek commented on #716
Hey @battlemidget I installed conjure-up from the beta channel (2.1.2 Rev 120) and tried to "conjure-down" today. The terminal appears to hang, and when I hit return I get a big stack trace:
[code]

I share a juju controller with someone and that one "jenkins-ci-google" and that one requires a password (not sure when or how to trigger that). I am guessing from this stack trace the conjure-down com

[2017-03-09 20:40] mbruzek commented on #716
@battlemidget I can confirm that after I entered the password for the other controller, I was able to conjure-down the model that was deployed

[2017-03-09 20:41] battlemidget commented on #716
So we need a way to prompt for a password?

[2017-03-09 20:49] mbruzek opened #722 "conjure-down should be able to destroy the controller too"
[code]

Summary of problem: I can not destroy the controller that conjure-up created. I ran conjure-down and that removed the applications, but now I want to remove the controller and I am unable to do that.

[code]
Since conjure-down did not destroy the controller, and does not let me select an empty controller to destroy I tried doing it with the juju commands.

[code]

It is my understanding th

[2017-03-09 21:00] mbruzek commented on #722
While this controller is running, I am unable to bootstrap a new controller because the bind fails with "address already in use":
[code]
I do remember there are settings in juju to use different addresses/ports, but these would not be obvious to a user.

[2017-03-10 16:49] battlemidget opened #723 "error message parser with more user friendly errors/resolutions"
Noticing a lot of errors from juju that revolve around things like 'no space left on device', 'malformed maas-oauth key', 'i/io timeout', 'certificate errors with lxd' (this one is new in juju for supporting remote lxds)

In addition to better input validation in the views we should keep a list of known errors (probably a regex of some sort) and have our error handler detect if those are found and

[2017-03-11 05:52] jaisonoh opened #724 "Openstack with NovaLXD installation failure"
**system info**

[code]

**conjure-up.log**
[code]

**juju status**
[code]
Summary of problem:

![2017-03-11 2 27 42](https://cloud.githubusercontent.com/assets/9154262/23820907/f330ea32-0666-11e7-9f3c-b8e8ad922272.png)
Mysql installation seemed to be suspended even if disk was enough. Disk is almost 100G without lxd container.

In addition, I encountered and error, "TypeError: __init__() missing

[2017-03-11 14:26] niks3089 opened #725 "How to stop Openstack services after conjure-up installing"
I think this a noob question but I've successfully installed openstack using conjure-up using nova LXD. However, I want to stop all the services temporarily preferably using conjure-up. Is there a way to do it?

Attaching the juju status.

[code]

[2017-03-11 23:57] battlemidget commented on #724
Can you do

[code]
And paste that URL?

[2017-03-11 23:59] battlemidget commented on #725
So there isn't a way to stop/suspend services via conjure-up. You'd need to use `lxc stop <instance>` and `lxc list`

You can uninstall with `conjure-down`

[2017-03-12 01:08] jaisonoh commented on #724
Thank you for your answer.

http://paste.ubuntu.com/24161270/plain/

[2017-03-13 13:55] ekallberg opened #726 "Conjure-up Openstack-novalxd fails to multiple errors"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [ x] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems
- [ x] Is conjure-up running inside a virtual machine?

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space

[2017-03-13 14:38] battlemidget commented on #726
This is currently being addressed, something on charmstore side changed without notice.

[2017-03-13 14:43] #726 closed

[2017-03-13 15:16] mbruzek opened #727 "conjure-up kubernetes gives stacktrace"
Provide the output of the following commands:

[code]

Summary of problem:

I got a Python stack trace when I tried to `conjure-up kubernetes` today.

![screenshot from 2017-03-13 10-12-49](https://cloud.githubusercontent.com/assets/6385185/23860675/a635090a-07d5-11e7-9e06-bbec3396ca80.png)

[2017-03-13 15:37] battlemidget commented on #727
This was an issue with jujucharms.com api, it should now be fixed

[2017-03-13 15:37] #727 closed

[2017-03-13 20:21] canonical-cgregan opened #728 "Openstack fails to correctly deploy when network device is not eth0"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [ ] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems
- [ ] Is conjure-up running inside a virtual machine?

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space av

[2017-03-13 20:29] battlemidget commented on #728
Is this a config option that can be set? I was under the impression you could do things like https://jujucharms.com/neutron-gateway/234#charm-config-data-port and https://jujucharms.com/neutron-gateway/234#charm-config-bridge-mappings to setup your network?

[2017-03-13 21:05] canonical-cgregan commented on #728
I can look. My systems set all devices to Eno. Not sure you can pass device
names, only numbers.

On Mar 13, 2017 16:29, "Adam Stokes" <notifications@github.com> wrote:

[2017-03-13 21:15] battlemidget commented on #728
Let me know, this readme seems to indicate you can do what you need:

[code]

[2017-03-14 14:13] erikbgithub opened #729 "Continues forever but doesn't do anything."
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [ ] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems
- [x] Is conjure-up running inside a virtual machine?

Running in VBox on Windows 10

Please outline the hardware you're running conjure-up on, including number of cpus, amount of mem

[2017-03-14 14:53] battlemidget commented on #729
Are you hitting http://conjure-up.io/docs/en/users/#_deployment_gets_part_way_through_and_seems_to_hang_under_vsphere?

[2017-03-14 15:10] erikbgithub commented on #729
Thanks for your suggestion!

I'm running virtualbox, not vsphere, so I can't follow that guide. The believe that it is network related is the same as mine, though. The big difference between a default installation and my installation is the proxy setup.

[2017-03-14 15:11] erikbgithub commented on #729
And the IPv6 stuff I also already added (and then rebootet).

[2017-03-14 17:05] btro opened #730 "Conjure-down does not allow me to mark the previous installation"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [ ] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems
- [ ] Is conjure-up running inside a virtual machine?

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space av

[2017-03-14 17:14] btro commented on #730
Ok, I figured out the headless mode:
just enter "juju models" and then uninstall via: "conjure-down [CONTROLLERNAME] [MODEL]" where CONTROLLERNAME was sth. like "conjure-up...." and MODEL was "controller". The bug still persists though ;)

[2017-03-14 23:26] battlemidget commented on #725
I think this is an interesting idea and so leave this open as a feature enhancement

[2017-03-15 02:30] kukgini commented on #711
I have same issue here. only diffrences:

- lxd version 2.11
- conjure-up version 2.1.2

[2017-03-15 10:13] geewerx commented on #711
Apologies @battlemidget, i missed that you were asking for confirmation here. Yes, it is still an issue, although I haven't tried it since I encountered this issue 10 days ago. Happy to try again if you find a resolution.

[2017-03-15 20:44] battlemidget opened #733 "strings that don't have a default specified - didn't show an input box"

[2017-03-15 20:44] battlemidget opened #734 "not able to use boolean values in steps"
boolean values - I couldn't use them, encountered a parse error (expected str, bytes or os.PathLike object, not bool)

[2017-03-15 20:44] battlemidget opened #735 "password fields - inputs are shown in clear text"

[2017-03-15 20:45] battlemidget opened #736 "confusing error if step00-* are not executable"
I found that if step00-* scripts are not executable, the CU log showed they couldn't be found (confusing error)

[2017-03-15 20:45] adam-stokes opened #737 "When a stepXX-XXX.yaml file has viewable: False, that step didn't execute"

[2017-03-15 20:46] battlemidget opened #738 "output truncated in summary view if current view is filled"
In the summary view (after all post deployment steps completed), if there is enough output that fills more than the entire screen, the output is truncated and there is no way to scroll up

[2017-03-15 20:59] eric-sonchaiwanich commented on #736
version 2.1.1

Here's a sample log entry

2017-03-14 11:24:24,037 [ERROR] log.py:17 - conjure-up/XXXXXXXXX: Unable to process step, missing /home/XXXXX/.cache/conjure-up/XXXXXXXXX/steps/step-01_example

This was worked around by chmod +x on the script.

[2017-03-16 21:34] battlemidget opened #740 "[document] bundle writer"
A nice new feature of conjure-up will spit out a bundle with any config option changes and placement updates prior to a deployment is made.

This is useful for creating new spells to match a specific environment for easy reproducibility. We just need to document this feature.

[2017-03-17 00:20] psyhomb commented on #628
I there anything new on this?

Thx

[2017-03-17 00:36] battlemidget commented on #628
So for a headless install you can define the region to deploy too but we are still working on doing that via the console UI. We'll try to tackle this after our 2.2 release

[2017-03-17 19:37] dpb1 commented on #718
This is still present on the --stable, --beta and --edge version of the snap.  Near as I can tell, this library is not included in the snap at all.  Probably you are getting it from your local system when testing (since you are in --classic mode)??

[code]

[2017-03-17 19:53] dpb1 opened #742 "Juju Bootstrap to MAAS should not do --debug"
I certainly do like --debug output, but I think most users would not want to see it, especially when it contains errors like this (even though I know they are transient errors):

[code]

I suggest we do not bootstrap --debug by default, but only do so if a --debug flag is present on the conjure-up command line.

[2017-03-17 22:46] battlemidget commented on #718
Do you have an old version of conjure-up installed? Check your dpkg output

[2017-03-18 00:45] battlemidget commented on #742
We're leaving it on for the time being until the increased flow of features slow down, but yea we'll clean this up when ready.

[2017-03-20 18:14] johnsca opened #744 "Ensure consistent and common tab order handling across GUI views"
We should refactor the `tab` / `shift tab` / `enter` handling that is currently done on a per-view basis to use a common implementation with the views just defining desired ordering.  This interaction pattern should follow the industry standard for switching fields in forms.

The (currently [in progress](https://github.com/conjure-up/conjure-up/pull/743)) JaaS registration form has a potentially g

[2017-03-20 19:42] johnsca opened #745 "Improve handling of "cannot get user details" error during JAAS registration"
While registering with JAAS, the user can get an error of the form:

[code]

This doesn't seem to actually prevent the controller from being registered (although it might cause issues when using the controller, later), and is most likely related to the difference between oauth (command-line credentials) vs browser-based USSO login.

We should at a minimum detect this specific error and present the

[2017-03-20 19:45] #736 closed

[2017-03-20 19:46] battlemidget commented on #718
I can't reproduce this at all, can you provide me with some more information? `snap list; dpkg -l|grep conjure-up; dpkg -l|grep juju; which juju; which conjure-up`

[2017-03-20 19:50] johnsca opened #746 ""not redirected" error on deploy screen for localhost"
Since the JAAS branch was merged, localhost now errors during add-model (as soon as you hit the deploy screen) with a "not redirected" error.  This is due to the macumba changes from that branch.

Also, the macumba changes were made directly in conjure-up and need to move moved to the upstream repo.

[2017-03-20 20:07] dpb1 commented on #718
[code]

[2017-03-20 20:08] battlemidget opened #747 "KeyError: KeyError('CONJURE_UP_CACHEDIR',)"
[code]

[2017-03-20 20:11] battlemidget commented on #718
Youre using an old core-image, you should have `core` rather than the previously named `ubuntu-core`.

[2017-03-20 20:12] dpb1 commented on #718
do you know how to fix that?

[code]

[2017-03-20 20:23] #746 closed

[2017-03-20 20:25] battlemidget commented on #718
Soon as you can get 'ubuntu-core' changed over to the latest 'core' snap image this will work.

[2017-03-20 20:29] #747 closed

[2017-03-20 22:02] dpb1 commented on #718
I have this filed.  I'll track the status there:

https://bugs.launchpad.net/ubuntu/+source/snapd/+bug/1674484

[2017-03-20 22:02] #718 closed

[2017-03-21 13:05] marcoceppi opened #750 "Snap install fails"
[code]

Provide the output of the following commands:

[code]

Summary of problem:

[2017-03-21 13:11] #750 closed

[2017-03-22 00:20] #745 closed

[2017-03-22 14:11] caio1982 commented on #549
Hey there @battlemidget have you had any success with your Mini yet? :-)

[2017-03-22 14:20] battlemidget commented on #549
@caio1982 I'm actually running it right now, I've got conjure-up working and now im just testing the spells to make sure they are all macOS compatible. I have the brew recipe written so now im just polishing and i'll submit a PR to brew hopefully before today is over :D

[2017-03-22 15:05] battlemidget commented on #549
Tracking progress,
https://github.com/Homebrew/homebrew-core/pull/11472

[2017-03-22 17:11] battlemidget commented on #708
https://github.com/conjure-up/conjure-up/commit/2686cecc8037d8b0a5c9256455d2bac3bb5e36ed

[2017-03-22 17:11] #708 closed

[2017-03-22 18:06] battlemidget opened #753 "allow user to select a model on a controller to deploy to"
For new deployments we can whitelist the 'controller' model in a spell to allow the user to deploy applications to the controller's 'bootstrap' model. Also give the user the ability to deploy to a new model (which is default behavior) or any other listed models.

This is similar to the #624 however strictly for new deployments.

[2017-03-22 18:10] johnsca commented on #753
For the TUI, you can already specify a model name, but existing models are rejected.  That should be an easy fix.

For the GUI, I envision a screen just after controller selection that prompts for the new model name, with the current generated value as the default, and also lists any existing models below that for selection, typically filtering out the controller model unless the spell whitelists

[2017-03-22 20:30] mikemccracken commented on #753
Aside from allowing deploys onto the controller model, what's the use case for supporting deploying into an existing model? Is this for the 'next deploy' idea?

I wonder if it's necessary at all given the "real soon now" availability of cross-model relations?

I guess for 'next deploy' you'd still need to be able to have the user pick an existing model, if we deploy into an existing model they'd b

[2017-03-22 20:53] #733 closed

[2017-03-22 20:53] #734 closed

[2017-03-22 20:53] #735 closed

[2017-03-22 22:00] panlinux opened #755 ""architecture" option to select maas node didn't work"
I'm using the landscape-spell and while conjure-up was bootstrapping, I selected the "architecture" option to try some machine placement options:

![image](https://cloud.githubusercontent.com/assets/5117210/24222513/2ac8b36c-0f31-11e7-938f-bf34ace86aba.png)

I then clicked on the "ID" field, which brought up a list of maas nodes:
![image](https://cloud.githubusercontent.com/assets/5117210/24222542

[2017-03-22 22:04] panlinux commented on #755
[conjure-up.txt](https://github.com/conjure-up/conjure-up/files/863048/conjure-up.txt)

[2017-03-22 22:05] panlinux commented on #755
juju status as of now, while it's still waiting

`Model                           Controller           Cloud/Region  Version
conjure-up-landscape-spell-69d  conjure-up-maas-9b6  maas          2.1.2

App               Version  Status   Scale  Charm             Store       Rev  OS      Notes
haproxy                    waiting    0/1  haproxy           jujucharms   16  ubuntu  exposed
landscape-serve

[2017-03-22 22:18] battlemidget commented on #755
@mikemccracken can you comment on this?

[2017-03-22 22:28] johnsca commented on #753
While this definitely ties in to the "next deploy" functionality, I think it's entirely reasonable to want to deploy a second bundle / spell into an existing model so that those can then be connected together.  It also surfaces the fact that a model is being created a bit better, so that the user has an idea of why, after they deployed two different things, they can only see the most recent.

[2017-03-23 13:28] panlinux opened #756 "MAAS registration in Landscape requires a URI, not an IP"
[code]

[2017-03-23 13:32] battlemidget commented on #756
https://github.com/battlemidget/landscape-spell/commit/de5ae57e86b92b69b53088ebed59e935092fca14

[2017-03-23 13:32] #756 closed

[2017-03-23 15:00] battlemidget opened #757 "headless maas deployments fail with 'services' error"
When doing a headless install for MAAS (any spell) it fails with

[code]

[2017-03-23 15:46] mikemccracken commented on #755
@panlinux I'll try to reproduce this. what MAAS version was it?

[2017-03-23 15:51] panlinux commented on #755
2.1.3

On Mar 23, 2017 12:46 PM, "Michael McCracken" <notifications@github.com>
wrote:

[2017-03-23 16:29] johnsca opened #758 "Add sudo support for spells"
Some spell steps will require sudo.  They need a way to indicate that need, the GUI needs to detect if prompting for the password is necessary, and the TUI needs to document that passwordless sudo is required.

[2017-03-23 16:39] battlemidget commented on #758
For sudo input lets do an overlay window so that we keep that input out of any step logging

[2017-03-23 16:46] petevg commented on #753
@mikemccracken I'm currently working on getting matrix (https://github.com/juju-solutions/matrix) to use conjure-up in headless mode to do deploys. Unfortunately, the model thing is a blocker -- matrix really wants to make and manage a model itself, and it would be very nice if conjure-up was able to re-use that model.

[2017-03-23 16:56] johnsca commented on #753
@petevg You would only actually need the TUI portion of this, so perhaps that could be done separately?

[2017-03-23 17:52] mikemccracken commented on #755
Unfortunately I can't reproduce this on our test maas, v 2.1.4.
@panlinux is this reproducible regularly for you? Is avalugg a flaky node?
Looking at the logs, conjure-up is getting the API results it's expecting, no errors or strange things there.

[2017-03-23 18:03] panlinux commented on #755
On Thu, Mar 23, 2017 at 2:52 PM, Michael McCracken <notifications@github.com

I'll try this pinning again next time. The node is fine.

[2017-03-23 18:40] petevg commented on #753
@johnsca Yep. I just need to headless part of it. If people are okay with headless behaving differently, I can submit a PR ...

[2017-03-23 19:42] panlinux opened #759 "Can't select URL for copy & paste"
conjure-up           2.1.2    140   canonical  classic
Ubuntu Xenial 16.04
gnome-terminal	3.18.3-1ubuntu1

For some reason, it's not possible to select a URL that's on screen for copy & pasting.

For example, I want to copy the Landscape URL given in this screenshot to paste it into my browser:
![image](https://cloud.githubusercontent.com/assets/5117210/24266905/44804b92-0fe7-11e7-9b24-a4f836bf47d

[2017-03-23 19:56] panlinux commented on #755
On Thu, Mar 23, 2017 at 3:02 PM, Andreas Hasenack <panlinux@gmail.com>
wrote:

I tried it again, with a different 2.1.3 MAAS server, and it worked just
fine. I pinned the deploy to different nodes and the right one was always
selected and deployed correctly.

Please mark this issue as invalid. If it happens again, I'll try to gather
more information. Thanks.

[2017-03-23 20:04] johnsca commented on #759
urwid supports mouse-based interactions, meaning you will need to use Ctrl+Shift+Drag to select text with the mouse.  The underlining is a function of Gnome Terminal that allows you to right-click on URLs and select Open Link or Copy Link Address, so you could also use that.

I'm not sure if there's a way to get around urwid's mouse capture to get standard text selection.

[2017-03-23 20:23] mikemccracken commented on #755
ok, thanks!

[2017-03-23 20:23] #755 closed

[2017-03-23 20:32] panlinux commented on #759
shift+drag worked for me

[2017-03-23 22:48] #758 closed

[2017-03-23 22:57] battlemidget commented on #753
@petevg @johnsca are we good on this bug? can it be closed?

[2017-03-23 23:51] arosales opened #762 "Unable to install via: brew install conjure-up --HEAD"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [ ] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems
  - No

- [ ] Is conjure-up running inside a virtual machine?
  - No

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of s

[2017-03-23 23:55] battlemidget commented on #762
It hasn't been merged yet, https://github.com/Homebrew/homebrew-core/pull/11488, what you can do though is copy this file https://github.com/battlemidget/homebrew-core/blob/add-conjure-up/Formula/conjure-up.rb into your `/usr/local/Homebrew/Library/Taps/homebrew/homebrew-core/Formula` and cd into that dir and do `brew install conjure-up --HEAD`

[2017-03-24 00:32] battlemidget opened #763 "macOS: steps don't require sudo"
Only make this feature available on *nix systems

[2017-03-24 00:36] battlemidget opened #764 "can_sudo always fails"
Running the following on a ubuntu image that doesn't have sudo password enabled:

[code]

`sudo -nv` fails no matter what here. This problem is seen during a headless installation as well:

`conjure-up kubernetes-core localhost`

[2017-03-24 01:17] #764 closed

[2017-03-24 03:27] #763 closed

[2017-03-24 13:35] johnsca commented on #753
@battlemidget #760 only addressed the headless side of this.  We still presumably want to provide a GUI screen for influencing the generated model name or selecting an existing model to deploy in to.

Also, I wonder if we should in fact exclude the controller model by default, or just show it since the user was already presented with the option to use JaaS vs self-hosting the controller?

[2017-03-24 13:59] battlemidget commented on #753
So if we present the controller model by default that will take care of Landscape's need to install its bits on an existing system (the bootstrap node) and not use up an additional machine just for landscape-server

[2017-03-24 15:09] arosales commented on #762
@battlemidget thanks for the info I had a suspicion this may have been pilot error, thanks for the info. I'll be patient for this landing in Brew.

Thanks again for the work on this.

-Antonio

[2017-03-24 15:21] battlemidget commented on #762
Np, I'm hoping they'll move on it today im also getting anxious :D

[2017-03-25 18:36] psyhomb commented on #628
My question was mainly about AWS instance types, I think you should definitely make an option for that, so we (consumer) can specify the exact size of instances while deploying a K8S cluster. IMHO it's very inconvenient to not have this option already implemented, especially for cases when I want to create a K8S cluster for testing purposes ony, cause in that case I definitely want to use AWS free

[2017-03-26 17:24] llwp commented on #730
Had the same UI issue and your comment @btro saved me the search... thanks!

[2017-03-27 11:35] josvazg opened #770 "conjure-up breaks bsdtar (& possibly others) due to lib install hook"
conjure-up installs /etc/ld.so.conf.d/conjure-up.conf which points LD to:
/snap/conjure-up/140/usr/lib/x86_64-linux-gnu/

This breaks tools like bsdtar that use different versions of libraries held there, like for instance libachive.so.13 in case of bsdtar.

One would expect a snap not to break the environment and tools outside of it.

How to reproduce:
1. Install bsdtar with:
  $ sudo apt install

[2017-03-27 13:08] battlemidget commented on #770
What's the output of

`snap list` and `snap info conjure-up`

[2017-03-27 13:50] battlemidget commented on #770
I know I fixed this in a later revision, can you try:

[code]

And let me know if any `snap` directories still end up in `ldconfig` output?

[2017-03-27 16:47] josvazg commented on #770
[code]

[2017-03-27 16:50] josvazg commented on #770
Yes, beta works fine:

[code]

[2017-03-27 17:31] battlemidget commented on #770
Thanks I'll get a fix out for stable soon

[2017-03-27 21:26] battlemidget opened #771 "existing controllers filtered by type as well"
Some cases like `maas` we filter for the name `maas` in our whitelist, however, we should also filter out the proper maas type so that our existing bootstrapped maas environments can be reused

[2017-03-27 21:30] battlemidget opened #772 "push localhost requirements to the cloud picker"
In our snap we always make sure the latest lxd is installed from their stable ppa. We could potentionally push this back into conjure-up and do a similar thing we do for steps here as well.

Now that steps can run sudo required tasks by prompting the user for their sudo password, we could employ this in the cloud selection for localhost if our lxd requirements aren't met.

[2017-03-27 22:01] dpb1 opened #773 "conjure-up from edge r154 nonetype exception deploying landscape on maas"
conjure-up landscape, chose maas, input credentials, selected enter on everything, hit this error:

[code]

[code]

[2017-03-27 22:03] battlemidget commented on #773
I think we should categorize these specific juju errors so we make sure that once migrated to libjuju we make sure these are solved, @johnsca what do you think?

[2017-03-28 02:29] battlemidget opened #774 "maas deploy error in get_models"
[code]

[2017-03-28 10:09] battlemidget commented on #762
This is now in brew

[2017-03-28 10:09] #762 closed

[2017-03-28 10:10] battlemidget commented on #549
This is now in brew

[2017-03-28 10:10] #549 closed

[2017-03-28 10:36] rimusz commented on #549
awesome

[2017-03-28 12:23] mitechie opened #775 "conjure-up doesn't set terminal title"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [ ] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems
- [ ] Is conjure-up running inside a virtual machine?
no

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space

[2017-03-28 12:28] mitechie opened #776 "conjure-up errors on the kubernetes-core spell on OSX"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [ ] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems
- [ ] Is conjure-up running inside a virtual machine?

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space av

[2017-03-28 13:26] mitechie opened #777 "need the ability to optionally specify the controller name and model name"
If folks are going to leverage conjure-up for many things and keep models running beyond testing and demo I think that we need a method of specifying the controller/model names during bootstrap or deploys. I believe meaningful names are vital for long term maintainability of the models.

[2017-03-28 13:50] jamesbeedy opened #778 "OS X "Unable to find model""
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [no ] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems
- [ no] Is conjure-up running inside a virtual machine?

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage spac

[2017-03-28 13:55] jamesbeedy commented on #778
[code]

Errors with the same "LookupError" http://paste.ubuntu.com/24267960/

[2017-03-28 14:02] mitechie opened #779 "on OSX conjure-up openstack throws traceback"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space available:

mac air on OSX

What spell was selected?:

openstack with nova kvm

What cloud provider was selected (this includes both MAAS and localhost)?:

Prov

[2017-03-28 14:06] mitechie opened #780 "no machine count info in the review and configure phase"
What spell was selected?:

spark-processing

What cloud provider was selected (this includes both MAAS and localhost)?:

MAAS

Summary of problem:

I am on a MAAS with 7 free nodes. I wanted to test the deploy but I'm not sure if it'll fit in my MAAS or not. There's an application count (6 applications) and a unit count (Units: X) but especially on MAAS I want to see what the hardware requirement

[2017-03-28 14:32] mitechie opened #781 "spark spell throws traceback configuring ganglia on OSX"
Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space available:

mac air OSX

What spell was selected?:

Apache Spark Cluster

What cloud provider was selected (this includes both MAAS and localhost)?:

MAAS

Please outline what commands were run to install and execute conjure-up:

brew install conjure-up

Please post **~/.ca

[2017-03-28 15:50] battlemidget commented on #778
Thanks! Will get this looked at today

[2017-03-28 15:50] johnsca commented on #777
This overlaps some with #753 which is being worked on in the [gui-model-prompt](https://github.com/conjure-up/conjure-up/tree/feature/gui-model-prompt) branch.

[2017-03-28 19:11] jamesbeedy commented on #778
@battlemidget I'm guessing this is happening due to the fact my controller is JAAS.

[2017-03-28 19:20] battlemidget commented on #778
Yea it's possible, I'm testing that in a few minutes

[2017-03-29 11:47] marcoceppi commented on #556
@battlemidget can we have this priority bumped?

We want people to try the 1.6.0 release of kubernetes a week before we release. Having the ability to point `conjure-up kubernetes --candidate` would be strong in pulling the candidate channel of the bundle.

[2017-03-29 13:22] battlemidget commented on #556
Can you guys push a bundle to another channel so that I can test this feature work?

[2017-03-29 17:53] dpb1 opened #782 "conjure-down no feedback if dead controllers"
If you have a dead controller, conjure-down just sits at the 'WELCOME' screen with no feedback.  I waited a number of minutes, but eventually hit `ctrl-c`.  On the screen it was clear it was talking to a controller in my `juju controllers` listing that was no longer alive.

This is similar behavior that you get when you do `juju controllers --refresh` in the same situation (in fact, that might be

[2017-03-29 18:13] dpb1 commented on #759
on mac os x, imac with a wireless apple keyboard, had to hold down the `fn` button while click-dragging to select.  This is in the default terminal.app.

[2017-03-29 18:17] dpb1 commented on #759
Also, could it not be possible to shut off urwid mouse capture on just the 'view summary' page?  it appears to me there is no mouse interaction on that page currently.  Just the option to `Q`uit.

[2017-03-29 20:37] #556 closed

[2017-03-29 20:51] battlemidget opened #784 "use theblues"
Make use of an existing charmstore api library theblues

https://github.com/juju/theblues

[2017-03-29 23:10] larrymi opened #785 "Deploying with Juju 2.2 beta1 and vsphere provider - Conjure-up errors with: Application did not start successfully"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [ ] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems
No
- [ ] Is conjure-up running inside a virtual machine?
No

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage sp

[2017-03-29 23:12] battlemidget commented on #785
Can you attach a tarball of `~/.cache/conjure-up/`?

[2017-03-30 01:42] battlemidget commented on #775
Possible fix, just needs implemented:

[code]

[2017-03-30 01:48] battlemidget commented on #770
This is fixed in the next 2.2 release

[2017-03-30 01:48] #770 closed

[2017-03-30 01:51] battlemidget commented on #771
@johnsca I think the problem may have surfaced when we switched some of the code to account for jaas? Do you mind looking into this when you have a free cycle.

[2017-03-30 13:02] #775 closed

[2017-03-30 13:08] battlemidget commented on #779
Fixed with master

[2017-03-30 13:08] #779 closed

[2017-03-30 13:09] battlemidget commented on #776
@mitechie can you do

[code]

And test this deployment again? I think we've fixed this issue already but want to make sure

[2017-03-30 13:11] battlemidget commented on #711
Ok, if you guys still have the files laying around could you attach a tarball of `~/.cache/conjure-up`? I believe this is an error within the spell itself and need to check that debug output.

[2017-03-30 13:14] battlemidget commented on #778
@jamesbeedy can you re-try this with

[code]

I think this has been addressed, there was also some JAAS authentication problems on the backend a couple days ago

[2017-03-30 14:05] battlemidget opened #787 "bundlewriter should place generated bundles inside their cached spell dir"
currently the generated bundle is written to `~/.cache/conjure-up/kubernetes-core-<date>.yaml`. we should place that inside `~/.cache/conjure-up/kubernetes-core/bundle-<date>.yaml` so that people can easily `cp -a ~/.cache/conjure-up/kubernetes-core` and customize their spell further.

[2017-03-30 14:05] battlemidget commented on #787
@mikemccracken what do you think?

[2017-03-30 14:11] larrymi commented on #785
Adding tarball:
[conjure-up.tar.gz](https://github.com/conjure-up/conjure-up/files/882566/conjure-up.tar.gz)

[2017-03-30 14:19] battlemidget commented on #785
Thanks, unfortunately, I didnt see anything obvious here. Could you try with the latest edge version? It has an updated Juju and updated spells as well:

[code]

[2017-03-30 16:23] mikemccracken commented on #787
isn't ~/.cache/conjure-up/spellname overwritten with each download? I think
that's why I put it in the top level directory.
Maybe that's changed recently?

On Thu, Mar 30, 2017 at 7:05 AM, Adam Stokes <notifications@github.com>
wrote:

[2017-03-30 16:26] wwwtyro commented on #556
@battlemidget There's a 1.6 bundle available in the candidate channel of canonical-kubernetes and kubernetes-core, now.

[2017-03-30 16:39] jamesbeedy commented on #778
cat ~/.cache/conjure-up/conjure-up.log -> http://paste.ubuntu.com/24282254/

Getting past that now, to the next traceback, this occurs immediately after selecting either distribution of kubernetes via conjure-up http://paste.ubuntu.com/24282269/

[2017-03-30 16:44] mikemccracken opened #788 "analytics sends an event before a page hit"
Just saw this notification on the analytics site:
[code]

[2017-03-30 17:40] larrymi commented on #785
I re-tried with the edge version, and it worked.

![screenshot from 2017-03-30 12-38-12](https://cloud.githubusercontent.com/assets/13599808/24517964/ded32e04-1545-11e7-9b57-14553f531308.png)

![screenshot from 2017-03-30 12-39-48](https://cloud.githubusercontent.com/assets/13599808/24518011/0143b8f0-1546-11e7-967d-a871f46b393a.png)

[2017-03-30 17:55] battlemidget commented on #785
Thanks Larry, we're doing a 2.2 beta2 today which is on its way to GA expected April 20th. Going to close this out as resolved.

[2017-03-30 17:55] #785 closed

[2017-03-30 18:02] battlemidget commented on #556
@wwwtyro thanks will give it a try!

[2017-03-30 18:03] battlemidget commented on #787
Ah.. I dont remember actually i need to look again

[2017-03-30 18:04] battlemidget commented on #778
@jamesbeedy , `rm -rf ~/.cache/conjure-up*` and retry. We're working on a spell specification change and your cache is out of date

[2017-03-30 19:31] battlemidget opened #789 "bootstrap exception capture cloud type"
we sanitize the bootstrap exception due to various credentials being displayed in the error traceback. However, for debugging purposes we'd like to see which cloud is failing the most on.

[2017-03-30 20:51] abinyah opened #790 "Kubectl not finding the "config" file after deployment with error "The connection to the server localhost:8080 was refused""
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [ ] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems
- [ ] Is conjure-up running inside a virtual machine?

-> not that I can see
-> yes

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memo

[2017-03-30 21:02] battlemidget commented on #790
There is a kubectl.<JUJU_MODEL> that you need to run in order to access that particular kubernetes cluster.

This is shown in your results output:

[code]

[2017-03-30 21:10] abinyah commented on #790
yes, I could run '~/bin/kubectl.conjure-up-canonical-kubernetes-e92'
but it isn't explicitly stated that you must run "'~/bin/kubectl.conjure-up-canonical-kubernetes-e92' to gain access, that's what I was confused about initially, until about 30min later when I realized the connection between "'~/bin/kubectl.conjure-up-canonical-kubernetes-e92' and the kubectl config file.

I think it needs more c

[2017-03-30 21:16] battlemidget commented on #790
It's printed in the summary screen about where it's located. I could add some more documentation to our site soon though

[2017-03-30 21:20] abinyah commented on #790
It wouldn't need much. Just as a newbie I didn't relate the two. Maybe right after "/bin/kubectl.conjure-up-canonical-kubernetes-e92' show it being invoked as
"~/bin/kubectl.conjure-up-canonical-kubernetes-e92' get nodes" for example.

Also, the first time I deployed Kubernetes with conjure-up I left it overnight. I woke up without that screen. Only after reverting the snapshot and running it agai

[2017-03-30 21:34] jamesbeedy commented on #778
@battlemidget that did it! seems to be working now. Does conjure-up use libjuju here?

[2017-03-30 21:48] battlemidget commented on #778
no yet, @johnsca is working on that for our 2.2 release though

[2017-03-30 21:48] battlemidget commented on #790
Cool man, thanks for testing it out and providing the feedback. I'll add better clarity to the results screen in addition to added documentation on the website

[2017-03-30 22:36] battlemidget commented on #778
libjuju will be in the 2.2 GA release, please re-open this bug if you find more issues during the beta phase so we can make sure they are addressed in either conjure-up, libjuju, or juju

[2017-03-30 22:36] #778 closed

[2017-03-31 00:04] #789 closed

[2017-03-31 10:56] slrslr opened #791 "Add details about spells/deployments on the website"
Hello,

i came to a website http://conjure-up.io as a newbie in cloud solutions.
And i was trying to discover what Conjure-up can do for me.
My aim was to offer high available virtual servers with public IPs based on OpenStack, OpenNebula or such.

So i read the homepage and [user docs manual](http://conjure-up.io/docs/en/users/) and i can not see any explanation or links to explanation of setups/

[2017-03-31 15:04] #771 closed

[2017-03-31 15:29] johnsca commented on #773
Maybe a "juju" tag?

[2017-03-31 16:01] battlemidget opened #794 "Calling incorrect ensure_machines when cloud name != maas"
[code]

Should also note that this is a custom cloud I added manually via juju

[2017-03-31 16:59] mikemccracken commented on #794
looks like maybe juju.set_relations has returned None, which can happen here: https://github.com/conjure-up/conjure-up/blob/master/conjureup/juju.py#L688 but shouldn't have happened without stopping everything. look in the logs for an exception

[2017-03-31 18:48] battlemidget opened #795 "azure: need to make sure generated model names are less than 80 char"
Our model names get generated like:

[code]

azure provider requires the model to be mapped to the resource which is a UUID, in the above case that string ends up being greater than 80 characters. Need to add a special case for azure in our model generation code.

Best case is to make our generated model names 28 characters max

[2017-03-31 18:55] battlemidget commented on #787
Yea looks like we remove that dir each time:

https://github.com/conjure-up/conjure-up/blob/master/conjureup/download.py#L58

[2017-03-31 18:55] battlemidget commented on #787
Ill just document the bundle as it

[2017-03-31 18:55] #787 closed

[2017-03-31 19:10] #795 closed

[2017-03-31 19:45] #794 closed

[2017-03-31 23:07] battlemidget commented on #776
This is fixed in upstream and will be released to the devel channel in brew once my PR is merged https://github.com/Homebrew/homebrew-core

[2017-03-31 23:59] #738 closed

[2017-04-01 00:08] battlemidget commented on #757
https://github.com/conjure-up/conjure-up/commit/42a05f664dd676087203d862b574dc23e8cecc13

[2017-04-01 00:08] #757 closed

[2017-04-03 15:37] falfaro opened #801 "Upgrade to Ocata breaks openstack-novaxld"
I use conjure-up to deploy OpenStack on Nova/LXD using conjure-up. As of today, it deploys Newton. I modified the bundle.yaml file locally to deploy Ocata instead of noticed that step 04 (Neutron) is broken because as of Ocata, "neutron" CLI emits the following warning to stdout:

neutron CLI is deprecated and will be removed in the future. Use openstack CLI instead.

This warning breaks parsing o

[2017-04-03 15:40] falfaro commented on #801
https://github.com/conjure-up/spells/pull/56 shall fix the issue. I've tested on my own Ubuntu 16.04.02 LTS machine.

[2017-04-03 15:42] #801 closed

[2017-04-03 15:42] falfaro commented on #801
Wrong queue.

[2017-04-03 22:02] mbruzek opened #802 "Error while conjuring up kubernetes-core "Applications did not start successfully""
Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space available: 4 core i7, 450GB of disk available

What spell was selected?: kubernetes-core

What cloud provider was selected (this includes both MAAS and localhost)?: localhost

Please outline what commands were run to install and execute conjure-up: `snap install conjure-up

[2017-04-03 22:17] mbruzek commented on #802
Here is what the `juju status` looks like on my pc:
[code]

[2017-04-03 23:41] battlemidget commented on #802
So why did those units error out?

[2017-04-04 04:51] bpradipt commented on #594
Kubernetes builds for ppc64 and s390x are now available from upstream - https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#downloads-for-v161

[2017-04-04 04:53] battlemidget commented on #594
Thanks will get this added to our spells

[2017-04-04 15:25] mbruzek commented on #802
I looked into the failing units and they all seem to fail with loading profiles for the snaps

[code]

[2017-04-04 16:47] chuckbutler commented on #802
This seems related to the profile we are applying to lxd containers deployed via conjure-up. I'm not certain why that is the case, as it explicitly disables app armor. However if you launch a fresh container you can successfully install the components via snap.

[code]

However when I attempt the same in a conjure-up deployed lxd unit, it fails with the error pasted above.

[2017-04-04 17:06] mbruzek commented on #802
@chuckbutler and I did some digging on this issue. We ended up with a discussion in #snappy.
I believe this is a problem loading the apparmor profile in a privileged container.

(11:11:55 AM) tyhicks: mbruzek: this is an intentional decision by lxd to not allow apparmor profile loads inside of privileged containers: https://github.com/lxc/lxd/blob/master/lxd/apparmor.go#L321
(11:13:02 AM) tyhicks:

[2017-04-05 19:24] battlemidget commented on #802
https://github.com/conjure-up/spells/commit/fc6e672bd501f1304cefe5a855ad4a33470a47f2

[2017-04-05 19:24] #802 closed

[2017-04-06 15:18] richardsith opened #803 "Expired timestamp"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [ ] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems?
- [x] Is conjure-up running inside a virtual machine?

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space a

[2017-04-06 18:21] battlemidget commented on #803
Make sure you're running ntp and that your clock is synced correctly

[2017-04-06 20:11] abentley opened #804 "The "install-dependencies" and "install" make targets don't work."
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [X] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems
- [X] Is conjure-up running inside a virtual machine?

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space av

[2017-04-06 20:50] #804 closed

[2017-04-06 21:24] richardsith commented on #803
it's configurated by default on MAAS

![screen shot 2017-04-06 at 23 22 02](https://cloud.githubusercontent.com/assets/9977215/24776209/21dba890-1b20-11e7-8f3b-1e0e1d8a13ba.png)

[2017-04-06 22:00] battlemidget commented on #803
This is strictly a time skew issue, could be a number of things but make sure your VM's are configured properly for time. It could be the vm's making the requests are setup with incorrect clocks as well. When you deploy your nodes manually via MAAS please verify that all of those clocks are set correctly as well.

[2017-04-07 07:32] richardsith commented on #803
I've check that and it results that the date reports on MAAS was different from my clock.  I've seen that MAAS replaces the ntp of Ubuntu ((https://paste.ubuntu.com/24332640/) with its own. How do I can to set the ntp right with that?

[2017-04-07 08:02] richardsith commented on #803
now it's fine, I've changed the ntp on VMware vSpere Client setting as ntp server ntp.ubuntu.com and the right time. The MAAS Server has the right date. thanks

[2017-04-07 08:02] #803 closed

[2017-04-07 10:20] richardsith opened #805 "deploy of Landscape in Openstack Autopilot is in permanent pending status"
Thank you for trying conjure-up! Before reporting a bug please make sure you've gone through this checklist:

 Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems?
 Is conjure-up running inside a virtual machine?
Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space available:

All

[2017-04-07 12:41] battlemidget commented on #805
Make sure you've set the promiscuous mode in vsphere

[2017-04-07 12:47] richardsith commented on #805
promiscuous mode has to be set as Reject or Accept?

[2017-04-07 13:12] battlemidget commented on #805
I believe Accept

[2017-04-07 13:14] richardsith commented on #805
I'm testing that with your suggest, I'll inform you soon which is its situation.

[2017-04-07 13:32] richardsith commented on #805
now the situation is different, have a look to the screen below:

![screen shot 2017-04-07 at 15 27 01](https://cloud.githubusercontent.com/assets/9977215/24802048/c9d75b4e-1ba6-11e7-81e1-3a0b4de55e73.png)
![screen shot 2017-04-07 at 15 27 08](https://cloud.githubusercontent.com/assets/9977215/24802049/c9e614a4-1ba6-11e7-9d58-ce5b01f88f5e.png)
![screen shot 2017-04-07 at 15 32 10](https://cloud.gi

[2017-04-07 13:34] battlemidget commented on #805
Looking good!

[2017-04-07 13:46] richardsith commented on #805
also the final result is good

![screen shot 2017-04-07 at 15 44 19](https://cloud.githubusercontent.com/assets/9977215/24802706/31f2282e-1ba9-11e7-98bc-3405f6c5e397.png)

 next last step is Openstack, thanks a lot for your support

[2017-04-07 13:46] #805 closed

[2017-04-07 15:56] ktsakalozos opened #806 "Deployment of kubernetes-core crashes on 2.2-beta3"
Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space available: This is on my local machine i7 8 Gb ram 22b free disk space.

What spell was selected?:

kubernetes-core channel=candidate

What cloud provider was selected (this includes both MAAS and localhost)?: Localhost

Please outline what commands were run to install and

[2017-04-07 16:48] mbruzek opened #807 "conjure-up error: Unable to find credentials for cloud looking for local-host"
Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space available: i7 4-core CPU, 16MB of RAM, ~450GB free disk space.

What spell was selected?: kubernetes-core

What cloud provider was selected (this includes both MAAS and localhost)?: localhost

Please outline what commands were run to install and execute conjure-up: snap ref

[2017-04-07 17:52] mbruzek commented on #807
Seems to be related to bootstrapping the localhost. I was able to use the same conjure-up with an already bootstrapped localhost. The deployment is getting further than before, not done, but past the credentials.

[2017-04-07 18:04] battlemidget commented on #807
Yea I need to figure out why this is happening, they introduced some new credentials mechanism for localhost (im guessing for remote localhost eventually) and our logic isn't handling this quite well.

@johnsca do you mind looking into this?

[2017-04-07 18:17] battlemidget commented on #807
Example credentials where the problem surfaced:

[code]

[2017-04-07 18:28] johnsca commented on #807
[This check](https://github.com/conjure-up/conjure-up/blob/6738f0cbb70cb2101c78a2e6298e2bb2c1e0be33/conjureup/controllers/newcloud/gui.py#L181) should be using `"localhost"` instead of `"lxd"`.

[2017-04-07 18:52] #807 closed

[2017-04-07 18:55] battlemidget commented on #806
@ktsakalozos is this part of the problem https://github.com/juju-solutions/bundle-canonical-kubernetes/issues/250?

[2017-04-07 19:42] ktsakalozos commented on #806
@battlemidget no, it does not.

[2017-04-07 19:45] ktsakalozos commented on #806
I realised I pasted the wrong url pointing to the error. Here is the error: https://imagebin.ca/v/3IGTNvLZ8eyp

[2017-04-07 20:04] battlemidget commented on #806
What revision of conjure-up do you have? `snap info conjure-up`

[2017-04-07 20:11] ktsakalozos commented on #806
There you go: http://pastebin.ubuntu.com/24336115/

[2017-04-07 20:13] battlemidget commented on #806
Thanks, I haven't been able to reproduce this particular error yet. The error you are seeing is the websocket code misbehaving so if you try a new deployment it'll probably work.

[2017-04-07 20:14] brotherchris opened #810 "Conjure up isn't bootstraping juju"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [ ] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems
NO
- [ ] Is conjure-up running inside a virtual machine?
NO

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage sp

[2017-04-07 20:18] battlemidget commented on #810
What version of MAAS?

[2017-04-07 20:20] battlemidget commented on #810
These errors are interesting:

[code]

Almost like Juju can't determine the endpoint properly

[2017-04-07 20:20] #686 closed

[2017-04-07 20:22] battlemidget opened #811 "add validation to all input fields"
Now that https://github.com/conjure-up/conjure-up/pull/809 is merged, we need to work towards making sure all input fields have validation capability including things like post processing steps, updating config items in the application configuration screen, etc.

[2017-04-07 20:23] brotherchris commented on #810
Hey Adam, I am running MAAS 1.9.5+bzr4599-0ubuntu1~14.04.1 I wanted to prove out 14.04 before I move on to 16.04. It's strange, it fails very quickly. It doesn't try to  bootstrap.

[2017-04-07 20:46] battlemidget commented on #810
I need to double check and make sure juju2 supports maas1.9, I'll get back to you

[2017-04-08 02:36] battlemidget commented on #810
I came across this PR that may have something to do with it:

https://github.com/juju/juju/commit/edf9eb8050f268f656c9a0d34dcf67b66c892b01

Still investigating

[2017-04-08 02:44] battlemidget commented on #724
Was this run inside VSphere ?

[2017-04-08 02:45] brotherchris commented on #810
Thanks for the update.

[2017-04-10 09:41] richardsith opened #812 "error to build Openstack Cloud"
Thank you for trying conjure-up! Before reporting a bug please make sure you've gone through this checklist:

Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems?
Is conjure-up running inside a virtual machine?
Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space available:

All en

[2017-04-10 13:31] battlemidget commented on #812
You'll need to post this particular question on http://askubuntu.com/questions/tagged/landscape as this isn't a conjure-up issue.

[2017-04-10 13:31] #812 closed

[2017-04-10 13:41] richardsith commented on #812
ok thanks

[2017-04-10 14:04] panlinux commented on #812
Richard, please click on that "Report a bug" link that you get in the landscape failed openstack install, that will file a bug with the logs we need to diagnose this issue.

[2017-04-10 15:07] mitechie opened #813 "syncing spell repository: handle git related conflicts better"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

What spell was selected?:

conjure-up landscape

Please outline what commands were run to install and execute conjure-up:

brew unlink conjure-up
brew install --devel conjure-up

Please post **~/.cache/conjure-up/conjure-up.log**

    2017-04-10 10:57:40,122 [DEBUG] log.py:14 - conjure

[2017-04-10 15:07] mitechie commented on #813
I removed the cache and things are now reloading and working.

[2017-04-10 15:08] battlemidget commented on #813
Thanks for the report, we need to handle this better

[2017-04-10 15:18] richardsith commented on #812
Panlinux, the vswitches are in promiscuous mode. I've attached the logs downloaded from Landscape.

[landscape-openstack-autopilot-logs-2017-04-10T15-14-08Z.tar.gz](https://github.com/conjure-up/conjure-up/files/910521/landscape-openstack-autopilot-logs-2017-04-10T15-14-08Z.tar.gz)

[2017-04-10 16:23] panlinux commented on #812
launchpad bug: https://bugs.launchpad.net/landscape/+bug/1681483

Let's continue over there since the issue here in github is closed.

[2017-04-10 16:43] mitechie opened #814 "error during conjure-up landscape to an existing maas controller"
What spell was selected?:

landscape

What cloud provider was selected (this includes both MAAS and localhost)?:

MAAS - existing controller

Please outline what commands were run to install and execute conjure-up:

conjure-up landscape

Please post **~/.cache/conjure-up/conjure-up.log**

    2017-04-10 11:27:49,787 [DEBUG] log.py:14 - conjure-up/landscape: found spell {'key': 'landscape', 'name':

[2017-04-10 16:45] mitechie commented on #814
I also could not bootstrap a new controller on my maas getting:

    2017-04-10 12:44:34,019 [DEBUG] log.py:14 - conjure-up/landscape: Showing dialog for exception: Unable to find credentials for cloud looking for guimaas

[2017-04-10 18:28] mitechie commented on #814
Per request:

    .local/share/juju/credentials.yaml

Is the credentials file. A sanitized version of the file:

    credentials:
      aws:
        personal:
          auth-type: access-key
          access-key: ...
          secret-key: ...
      azure:
        company:
          auth-type: service-principal-secret
          application-id: ...
          application-password: ...
          subsc

[2017-04-10 19:52] mitechie commented on #814
I removed one of the maas credentials and that still failed to work, however on OSX with the --HEAD I was able on there to supply the dns name and the api key and it's bootstrapping. It failed to do this on Ubuntu with the beta channel snap.

[2017-04-10 20:22] battlemidget commented on #814
yea the edge channel will be more inline with --HEAD on macOS. I would suggest trying that for now, we are ramping up for a beta3 this week hopefully

[2017-04-10 20:23] battlemidget commented on #810
Hey Chris,

Do you mind trying the edge version?

`sudo snap refresh conjure-up --edge`

It is using the upcoming juju 2.2beta3, want to make sure that the problem persists with that latest code

[2017-04-10 20:43] brotherchris commented on #810
No problem, I tried from both public and private interfaces and get the same errors it looks like.

conjure-up --version
conjure-up 2.2-beta3

2017-04-10 15:38:07,864 [DEBUG] log.py:14 - conjure-up/_unspecified_spell: LXD version: 2.12, Juju version: 2.2-beta3-trusty-amd64
2017-04-10 15:38:14,113 [DEBUG] log.py:14 - conjure-up/_unspecified_spell: Path is local filesystem, copying /snap/conjure-up/

[2017-04-10 21:56] battlemidget commented on #810
Thanks, discussing this issue with the Juju guys

[2017-04-11 03:30] zhangleimao commented on #759
I use ssh login and want to past maas api-key form other ssh login terminal.  I can drag (highlight text) and select copy by right mouse, but this right click can't work in conjure-up terminal.

By the way, the tab key also work as expected, it can't switch between api-key and maas input field.

[2017-04-11 09:56] battlemidget commented on #759
Shift+insert to paste, and use up and down arrow to switch fields

[2017-04-11 11:53] battlemidget commented on #810
We're in the process of upgrading the lab environment to MAAS 1.9.5 (Juju 2.x was tested against 1.9.4). Once that's done we'll re-run tests against it and I can let you know the results.

[2017-04-11 12:53] battlemidget commented on #806
This looks to be some sort of websocket error when talking to the juju api server. Can you re-deploy and see if it's consistently failing?

[2017-04-11 12:54] battlemidget commented on #814
@mitechie can you re-try with the `--edge` channel and see if the problem persists?

[2017-04-11 13:32] battlemidget commented on #810
@brotherchris hey can you provide me with your `~/.local/share/juju/clouds.yaml` file?

[2017-04-11 21:09] brotherchris commented on #810
Here you go:

clouds:
  maas:
    type: maas
    auth-types: [oauth1]
    endpoint: q9nAG3pGcCt3hE4u2Z:8JwStzP5rGXxD9Pwjy:SPQsrkPune7KL4eUxAGFNAMUe6yW6TS9

[2017-04-11 21:15] battlemidget commented on #810
Ah, your endpoint is wrong, looks lik you added the api key there. Here is what my clouds.yaml looks like:

[code]

Your `.local/share/juju/credentials.yaml` should have your api key listed there instead.

[2017-04-11 21:29] brotherchris commented on #810
What sets this file? Is in the GUI somewhere?

I still seem to be getting the same error:

2017-04-11 16:22:17,171 [DEBUG] log.py:14 - conjure-up/_unspecified_spell: LXD version: 2.12, Juju version: 2.2-beta3-trusty-amd64
2017-04-11 16:22:20,969 [DEBUG] log.py:14 - conjure-up/_unspecified_spell: Path is local filesystem, copying /snap/conjure-up/187/spells/landscape to /home/chris/.cache/conjure-u

[2017-04-11 21:42] battlemidget commented on #810
The clouds file gets add during juju bootstrap, but the input given in the conjure-up ui will set the apikey in the credentials file. What does your `clouds.yaml` look like now?

[2017-04-11 21:45] brotherchris commented on #810
clouds:
  maas:
    type: maas
    auth-types: [oauth1]
    endpoint: http://192.168.1.150:5240/MAAS

I tried localhost as well, same results.

[2017-04-12 01:13] battlemidget commented on #810
@brotherchris can you tar up your ~/.cache/conjure-up directory and upload it here? I'm not sure why doing a localhost deploy would yield the same results. Need to look into it further

[2017-04-12 01:37] battlemidget opened #816 "entering sudo password fails to allow a snap to install"
Using latest from `edge` channel and deploying with:

[code]

Choosing a `localhost` deployment and making sure that `sudo -k` did expire the timeout for sudo usage. There isn't much in the logs nor in the steps logging.

@johnsca mind taking a look at this tomorrow? I want to make sure this deployment is working as advertised as k8s 1.6.x charms are potentially being released tomorrow as well.

N

[2017-04-12 02:09] brotherchris commented on #810
[cache.tar.gz](https://github.com/conjure-up/conjure-up/files/915224/cache.tar.gz)

Here you go.

[2017-04-12 12:05] battlemidget commented on #810
This has to be something weird with MAAS 1.9.5, still waiting on test results from the Juju guys on that. Do you mind providing a tar archive of `~/.local/share/juju`? I didn't see any logs indicating where you attempted a localhost installation. Also, make sure that you don't have any deb packages of juju or conjure-up still laying around as well

[2017-04-12 15:30] merlin2002 opened #817 "Juju failed to bootstrap: maas"
[code]

[2017-04-12 16:59] brotherchris commented on #810
Here are these files,
[local.tar.gz](https://github.com/conjure-up/conjure-up/files/917290/local.tar.gz)

These are the packages I have, should I pull them out? I have no conjure-up packages installed.

juju/trusty,now 1:2.1.2-0ubuntu1~14.04.1~juju1 all [installed]
juju-2.0/trusty,now 1:2.1.2-0ubuntu1~14.04.1~juju1 amd64 [installed,automatic]

[2017-04-12 18:08] battlemidget commented on #810
i would remove them both

[2017-04-12 18:42] battlemidget commented on #817
Your error

[code]
Is related to juju not being able to find a suitable machine with those constraints. Can you verify that you are able to deploy nodes via MAAS webui and they come up successfully?

[2017-04-12 19:12] brotherchris commented on #810
Removed them both, same error.

[2017-04-12 19:17] battlemidget commented on #810
Yea it must be something with maas 1.9.5, ok lemme see where Juju is at with that testing

[2017-04-12 19:47] abentley opened #818 "Snap fails to install, with ERROR: '~ubuntu-lxc' user or team does not exist"
Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space available:

VM produced by VMAAS

CPU 1 cores
RAM 2.0GiB
Storage 32.2GB over 2 disks
Operating System Ubuntu 16.04 LTS "Xenial Xerus"
Kernel xenial (ga-16.04)

What spell was selected?:
None

Please outline what commands were run to install and execute conjure-up:
[code]

P

[2017-04-12 20:18] battlemidget commented on #816
Seems to be a corner case where my machine was not behaving, retried this on multiple bare metal machines in the maas lab and could not reproduce. One thing that we did for now is make sure that any errors from snap install are captured in our step's log file.

https://github.com/conjure-up/spells/commit/3a1a408cb60a64a0c4b9bdc793d6bebff4809886

[2017-04-12 20:18] #816 closed

[2017-04-12 21:16] battlemidget commented on #699
Does this problem persist? There is a 1.6.1 release coming out today or tomorrow if you're willing to try that.

[2017-04-12 21:29] mbruzek opened #819 "Conjure-up screen does not get past adding machine['0']"
conjure-up version 2.1.3 from the stable channel (Revision 191)

Summary of problem:
I started my conjure-up deployment of kubernetes-core on LXD and the screen got stuck.

![conjure-up_screen](https://cloud.githubusercontent.com/assets/6385185/24980273/284dc59c-1f9d-11e7-9314-7ee99045ad6e.png)

I tried hitting Ctl+l and no dice. My deployment is working as shown in Juju status, but I don't see it

[2017-04-12 21:34] #819 closed

[2017-04-13 15:44] richardsith opened #820 "Error during the deploy of Landscape"
Thank you for trying conjure-up! Before reporting a bug please make sure you've gone through this checklist:

Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems?
Is conjure-up running inside a virtual machine?
Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space available:

All en

[2017-04-13 16:26] chuckbutler commented on #699
I've given this a redeploy and validated that the proxy step is still required to reach the endpoints. Those api endpoint listings for the services require a client key to be present on the connection in order to authenticate. It's the only auth mechanism we support *today*, and there will be additional support for more authentication mechanisms in a future release of CDK.

The fact you were able

[2017-04-13 21:08] abiye1 opened #821 "__init__() got an unexpected keyword argument 'default'"
MAAS: Version 2.1.3
Ubuntu 16.04
Name          Version  Rev   Developer  Notes
conjure-up  2.1.3     191    canonical  classic
core            16-2     1577  canonical

I get the following error when i run $ conjure-up --bootstrap-to Landscape.maas (Landscape.maas being the machine i have chosen for Landscape and is Listed on MAAS DNS)

 **__init__() got an unexpected keyword argument 'default'**

[2017-04-13 21:29] battlemidget commented on #821
Thanks for the report, we'll get this addressed asap

[2017-04-13 23:04] battlemidget commented on #818
I was unsuccessful in reproducing this, tried on various cloud images and server iso's

[2017-04-13 23:04] #818 closed

[2017-04-14 06:07] odkhuu11 opened #822 "Reason: Juju failed to bootstrap: maas"
Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [ ] Is this problem already documented at http://conjure-up.io/docs/en/users/#_common_spell_problems
- [ ] Is conjure-up running inside a virtual machine?

Please outline the hardware you're running conjure-up on, including number of cpus, amount of memory, amount of storage space av

[2017-04-14 07:32] merlin2002 commented on #817
mem=3584.0 ：
machine memory less than 3584,Modify memory >=3584,it's ok

[2017-04-14 07:32] #817 closed

[2017-04-14 08:14] richardsith commented on #820
this is the yaml before the deploy [here](https://paste.ubuntu.com/24378946/)
that one is after the error above [here](https://paste.ubuntu.com/24378948/)

![screen shot 2017-04-14 at 10 11 33](https://cloud.githubusercontent.com/assets/9977215/25037681/c7fbc338-20fa-11e7-8138-4d2b9716dfd6.png)

[2017-04-14 12:23] battlemidget commented on #822
You're constraints seem to be wrong:

[code]

[2017-04-14 12:23] battlemidget commented on #820
Ah, you're hitting https://github.com/conjure-up/conjure-up/issues/821, I'll get this fixed today and pushed out

[2017-04-14 12:23] #820 closed

[2017-04-14 12:40] battlemidget commented on #806
Were you able to re-deploy?

[2017-04-14 13:42] ktsakalozos commented on #806
Sorry for the delay @battlemidget  it was a crazy week (release, and... more). Just cleaned up my setup  and redeployed everything and did not get this error. Closing this ticket since it was against edge and I cannot repro anymore. Thank you.

[2017-04-14 13:42] #806 closed

[2017-04-14 14:30] #821 closed

[2017-04-15 11:52] amrbaraka opened #823 "[X86] build snap for x86 (i386/i686)"
Hi
I tried to the following command on newly installed ubuntu 16.04 but it fails:

[code]

Any ideas?
Thanks!
Amr

[2017-04-15 12:47] battlemidget commented on #823
I just tried on a fresh 16.04 system:

[code]

I didn't run into your issue, can you try again? Make sure you've done:

[code]

To make sure the system is fully updated.

[2017-04-15 17:17] amrbaraka commented on #823
Hi!
Thanks for your feedback.

As you recommended I executed those two commands,and it updated it.
sudo apt-get update
sudo apt-get dist-upgrade

had to reboot,, but same output occurs:

$ sudo snap install conjure-up --classic
[sudo] password for amr:
error: cannot install "conjure-up": snap not found
amr@amr-HP-ProBook-6460b:~$

$ snap list
Name  Version  Rev   Developer  Notes
core  16-2     15

[2017-04-15 18:34] battlemidget commented on #814
https://github.com/conjure-up/conjure-up/commit/ab22ea79470eb86b6c74d8ecad37364b70bd62d0

[2017-04-15 18:34] #814 closed

[2017-04-15 18:34] battlemidget commented on #774
https://github.com/conjure-up/conjure-up/commit/ab22ea79470eb86b6c74d8ecad37364b70bd62d0

[2017-04-15 18:34] #774 closed

[2017-04-15 18:35] battlemidget commented on #823
Very strange, could you try:

[code]

I wonder if it's an issue with the channels themselves

[2017-04-15 22:59] f7f7u7f7 opened #824 "Conjure-up --bootstrap-to <hostname> no progress 'fetching juju agent version 2.1.2 for amd64'"
## Report

Thank you for trying **conjure-up**! Before reporting a bug please make sure you've gone through this checklist:

- [ ] Is this problem already documented at https://docs.ubuntu.com/conjure-up/en/troubleshoot#common-spell-problems
- [x] Is conjure-up running inside a virtual machine?

Hey, I'm running a MAAS controller inside a VM and trying to bootstrap a juju controller with conjure-u

[2017-04-16 01:46] battlemidget commented on #824
You've verified you aren't hitting the vmware issue https://docs.ubuntu.com/conjure-up/en/troubleshoot#openstack? Also, from your maas web ui what happens if you just deploy a node via that interface? Does it work? Does it go from ready to a deployed state? If not, then your maas is not configured properly (most likely a network configuration issue)

[2017-04-16 01:47] battlemidget commented on #824
Also, this is sufficient for Landscape only. If you are wanting to deploy OpenStack Autopilot you are going to need at least 5 machines, 1 with dual nics, and 3 with at least 2 storage devices attached.

[2017-04-16 01:55] #699 closed

[2017-04-16 01:59] #621 closed

[2017-04-16 12:08] f7f7u7f7 commented on #824
Yes, it is **not** the VMware issue. I'm not using VMware, I use Proxmox VE.
Deploying a node via the web UI, for example, Ubuntu 16.04.2 LTS works perfectly.
Also during the bootstrap with conjure-up, it runs all of the `apt-get update` and `apt-get install curl` without problems on the VM. It seems to get stuck with fetching the juju Agent.

Yes, I know. But for the OpenStack components, I will

[2017-04-16 12:27] battlemidget commented on #824
Are you behind a firewall? You may need to set the various proxy arguments, you can see a list of those with --help.

[2017-04-16 12:44] f7f7u7f7 commented on #824
No everything, including the MAAS Controller and the JuJu VM are inside their own network bridge, which just acts like a network switch. So there are no restrictions there

[2017-04-16 12:51] battlemidget commented on #824
Looks like someone else had this same issue: https://askubuntu.com/questions/880560/juju-error-subprocess-encountered-error-code-255

[2017-04-16 12:53] f7f7u7f7 commented on #824
Actually, that's not my problem at all. The maas controller is able to login to the new vm and run `apt-get update && apt-get install curl` just fine. It is somewhere later, that an error occurs

[2017-04-16 13:04] battlemidget commented on #824
What version of MAAS? I'll need to try and reproduce this or if this setup is accessible via ssh I could login and debug.

[2017-04-16 13:44] f7f7u7f7 commented on #824
[code]
The MAAS Server is accessible on public internet, if you give me your public key, I can give you access

[2017-04-16 14:23] battlemidget commented on #824
Without a proper power controller for MAAS to manage turning on/off those VM's it is going to be difficult to use juju. In some cases the node has to be brought down and backup again during the bootstrap process and after the agent is installed. You aren't going to be able to manually power off/on the node at the suitable time during this deployment.

MAAS support virsh as a power controller so lo

[2017-04-17 16:08] battlemidget commented on #810
Still working on this, currently getting a 1.9.5 setup

[2017-04-17 16:30] brotherchris commented on #810
Thanks for the update.

On Mon, Apr 17, 2017 at 11:08 AM, Adam Stokes <notifications@github.com>
wrote:

[2017-04-17 18:46] sellers commented on #776
I used conjure-up from brew, and had a similar error to above, and then switched to HEAD and then ran conjure-up and it still threw the error

"2017-04-17 14:41:39,486 [DEBUG] log.py:14 - conjure-up/_unspecified_spell: LXD version: N/A, Juju version: 2.1.2-elcapitan-amd64
2017-04-17 14:41:43,780 [DEBUG] log.py:14 - conjure-up/_unspecified_spell: Path is local filesystem, copying /Users/c****/.cach

[2017-04-17 18:55] battlemidget commented on #776
@sellers I just recently released 2.1.5 to stable that should have these fixes, could you try to just `brew remove conjure-up --all` and try to re-install from the stable release?

[2017-04-17 18:56] battlemidget commented on #776
Ill re-test this in a few minutes here locally as well

[2017-04-17 19:17] dustinkirkland opened #825 "There was an error during the pre deploy processing phase, failure to set profile"
Trying to conjure-up kubernetes-core onto localhost, I'm getting the error in the attached screenshot
![screenshot from 2017-04-17 14-13-59](https://cloud.githubusercontent.com/assets/838790/25101082/806132bc-2378-11e7-815e-297aa35c775d.png)

[2017-04-17 19:27] sellers commented on #776
I was able to wrap the line in str() and get it to ...sort-of work.   At least I was able to conjure-down my stuff.

[2017-04-17 19:29] battlemidget commented on #825
What version of lxd are you running?

[2017-04-17 19:57] dustinkirkland commented on #825
Stock 16.04 fully updated.  2.0.9-0ubuntu1~16.04.2
<https://launchpad.net/ubuntu/+source/lxd/2.0.9-0ubuntu1~16.04.2>

[2017-04-17 21:24] battlemidget commented on #825
Ok, you need at least LXD 2.9 which is obtained via the lxd ppa automatically unless you have the snap version of lxd installed

[2017-04-17 21:25] battlemidget commented on #776
@sellers were you able to test with conjure-up 2.1.5? I would also rm -rf ~/.cache/conjure-up* first before re-running. I just tried on my mac system and didn't have any issues downloading the kubectl binary from google and getting access to the cluster.

[2017-04-18 06:58] amrbaraka commented on #823
Unfortunately the same..
sudo snap install conjure-up --classic --edge
[sudo] password for amr:
error: cannot install "conjure-up": snap not found

[2017-04-18 13:03] battlemidget commented on #823
What architecture are you running? Paste the output of `uname -a`

[2017-04-18 14:32] sajoupa commented on #825
Hi,

I observe the same behaviour with lxd 2.12 (on a zesty machine).

conjure-up.log:
2017-04-18 16:00:22,213 [DEBUG] log.py:14 - conjure-up/_unspecified_spell: LXD version: 2.12, Juju version: 2.1.2-zesty-amd64
2017-04-18 16:00:26,232 [DEBUG] log.py:14 - conjure-up/_unspecified_spell: Path is local filesystem, copying /snap/conjure-up/197/spells/openstack-novalxd to /home/sajoupa/.cache/conjure-

[2017-04-18 17:58] battlemidget commented on #825
Ok thank you ill take a look today

[2017-04-18 18:59] battlemidget commented on #825
@sajoupa can you outline what your lxd setup looks like in terms of default root disks etc? Did you setup zfs or anything like that? Also can you show the output of:

[code]

[2017-04-18 22:47] amrbaraka commented on #823
$ uname -a
Linux amr-HP-ProBook-6460b 4.8.0-46-generic #49~16.04.1-Ubuntu SMP Fri Mar 31 14:50:48 UTC 2017 i686 i686 i686 GNU/Linux

[2017-04-18 23:13] battlemidget commented on #823
Yea that's why, we don't have a build for i686 just amd64.

[2017-04-19 06:17] sajoupa commented on #825
Hi,

Yes I'm using ZFS (on an SSD device):
[code]

Laurent

[2017-04-19 12:54] battlemidget commented on #825
Thanks, I'll take a further look with zfs enabled

[2017-04-19 12:57] dustinkirkland commented on #825
Same for me.  ZFS on an SSD block device.

:-Dustin
@dustinkirkland

On Wed, Apr 19, 2017 at 7:54 AM, Adam Stokes <notifications@github.com>
wrote:

[2017-04-19 18:48] battlemidget commented on #824
I think this is you as well: https://askubuntu.com/questions/904846/ubuntu-openstack-autopilot-juju-bootstrap-no-progress?noredirect=1#comment1423421_904846

Just FYI that was me that replied to your post. One question, do you have to use proxmox? Why not just use pure libvirt with something like virt-manager? Then you can have your virtual maas that can be powered on/off via maas?

[2017-04-19 19:16] f7f7u7f7 commented on #824
Yes, that was my question.
No not necessarily. But right now, we're trying to build a proof of concept. And at the moment we only have one server available, which already runs proxmox.
Later, when we start production use, we will shift to a different solution using libvirt, VMware or even pure dedicated servers. But right now we don't have the financial resources to rent or buy more servers and we

[2017-04-19 19:22] battlemidget opened #826 "switch to aiohttp from requests"
As we move onto libjuju and its async glory it would be nice to switch from the requests library to aiohttp which supports asyncio out of the box.

[2017-04-19 19:25] battlemidget commented on #824
Understood, if you are interested in a single machine solution for POC and OpenStack deployment we do have that which uses LXD internally and does not use MAAS.

Im going to go ahead and close this issue, but, feel free to open a new one if/when you move over to libvirt/vmware and need some assistance there.

[2017-04-19 19:25] #824 closed

[2017-04-19 21:04] SystemZ opened #827 "Usage on system with only root account"
Hello, I'm just trying to install one node kubernetes on Digital Ocean droplet 8GB RAM just for 1-2h sandbox play with it.
Unfortunately I can't do anything on root even display some help.

I'm using Ubuntu 16.04 then installed via snap: `snap install conjure-up --classic`

I know dangers of root but standard procedure seems doesn't apply here like in other apps:
[code]
I added new user for this `

[2017-04-19 21:24] battlemidget commented on #827
You'll want to add /snap/bin to your $PATH for the `someuser`

[2017-04-19 21:27] #742 closed

[2017-04-19 22:05] manjo-git opened #828 "[ARM64] Need conjure-up snap in snap store"
## Report
Could we have conjure-up snap for ARM64 in the snap store? I was able to build the snap on arm64 system and install.. So I think it is a matter of building an ARM64 version and making it available in the snap store.

[2017-04-19 22:26] battlemidget commented on #828
yea we can set that up

[2017-04-19 22:26] battlemidget commented on #823
Got a request for arm64, going to get these built as well

[2017-04-19 22:28] battlemidget opened #829 "libjuju: headless failure to add machines"
[code]

[2017-04-20 00:45] battlemidget commented on #825
Can you guys retry with:

[code]

We have better error reporting for pre-deploy and once the failure occurs zip up `~/.cache/conjure-up` and attach to the bug so we can take a look.

Thanks!

[2017-04-20 08:39] sajoupa commented on #825
Hi,

Failing with:
`Failure in step 00_pre-deploy: Failed to set profile`

[conjure-up.zip](https://github.com/conjure-up/conjure-up/files/941636/conjure-up.zip)

Thanks,
Laurent

[2017-04-20 12:35] battlemidget commented on #825
Thank you! The error is:

[code]

Another bug was opened at https://github.com/conjure-up/spells/issues/58 with same issue. I'll look into get this fixed asap.

[2017-04-20 15:11] #829 closed

[2017-04-20 18:51] canonical-cgregan opened #831 "Conjure-up fails to exit properly once deployment is completed"
/snap/bin/conjure-up
2.2-beta3+1a1052c (200) 98MB classic
MAAS version: 2.2.0~rc2 (bzr5983-0ubuntu1~16.04.1)
juju: 1:2.2~beta2-0ubuntu1~16.04.1~juju1
Kubernetes-core spell

Once the deployment is complete and the UI is quit out. The user is not returned to a working shell, but instead it seems conjure-up is still holding the terminal. Ctrl+c results in the following.

Error in atexit._run_exitfunc

[2017-04-20 19:51] canonical-cgregan opened #832 "conjure-down stacktraces"
/snap/bin/conjure-up
2.2-beta3+1a1052c (200) 98MB classic
MAAS version: 2.2.0rc2 (bzr5983-0ubuntu116.04.1)
juju: 1:2.2beta2-0ubuntu116.04.1~juju1
Kubernetes-core spell

[code]

(johnsca: Edited for formatting)

[2017-04-20 19:55] battlemidget commented on #831
Please re-try with rev 201 thanks!

[2017-04-20 19:55] battlemidget commented on #832
Please re-try with rev 201 thanks!

[2017-04-20 19:56] battlemidget opened #833 "enable oracle provider"
enable oracle provider

[2017-04-20 19:58] johnsca commented on #831
Can you provide the `~/.cache/conjure-up/conjure-up.log` file for that failure?

[2017-04-20 19:58] battlemidget commented on #776
I've not been able to reproduce with version 2.1.5, please re-open if problem persists. Thanks!

[2017-04-20 19:58] #776 closed

[2017-04-20 20:03] canonical-cgregan commented on #831
Thought I did, but did not realize github does not support .log file type....what?
[conjure-up.txt](https://github.com/conjure-up/conjure-up/files/945330/conjure-up.txt)